.settings
  padding-top: .8em

.settings-section
  padding: 0 0 1em
  margin-bottom: 3em
  border-bottom: 2px solid #f1f1f1

.small-title
  margin-top: 0
  font-size: 18px
  color: #3eaaaf

.form-croup-project
  margin: 10px 0px
  display: grid

.form-control-project
  width: 100%

.error
  color: crimson
  font-size: 12px

.btn-wp
  text-align: right

.btn
  margin: 10px

form
  width: 50%
  padding: 10px
