.group
    display: grid
    grid-template-columns: 2
    grid-template-rows: 6

::ng-deep body, html
  height: 100%
  width: 100%
  overflow: hidden

.container
  height: 100%
  position: relative
  display: flex
  justify-content: center

.input-area
  grid-column-start: 1
  grid-column-end: 2
  justify-self: start
  margin: 0 10px 20px

.input-group
  width: 300px
  justify-self: start
  margin: 0 10px 20px

.field
  grid-column-start: 0
  grid-column-end: 1
  justify-self: end

.text-over
  font-size: 18px
  color: #666

.text-near
  margin-left: 15px
  margin-top: -10px

input
  width: 300px

textarea
  width: 300px

.with-btn
  display: flex

.btn
  margin: 5px

.btn-success
  width: 4rem

.upload
  width: 236px

.form-control.ng-touched.ng-invalid
  border: solid red 1px

.general-switch
  margin-top: -10px
.error
  color: red
  font-size: .75em

h2
  color: #03BBD5
  font-size: 1.5rem

.custom-switch .custom-control-label::before
    left: -2.25rem
    width: 2.75rem
    height: 1.35rem
    pointer-events: all
    border-radius: 0.5rem
    margin: 10px 0


.custom-switch .custom-control-label::after
    transition: none
    height: 1.14rem
    width: 1.15rem
    margin: 9.7px 1px

.custom-switch .custom-control-input:checked ~ .custom-control-label::after
    background-color: #fff
    transform: translateX(1.35rem)

.save-button-container
  grid-column-start: 1
  grid-column-end: 2
  width: 300px
  margin: 0 10px
  display: flex
  justify-content: center
  justify-self: start
  button
    width: 100px

.group-ev
  display: grid
  grid-template-columns: 5
  grid-template-rows: 2

.name
  grid-column-start: 1
  grid-column-end: 2

.value
  grid-column-start: 2
  grid-column-end: 3

.branch
  grid-column-start: 3
  grid-column-end: 4
  padding-right: 5rem

.isOn
 grid-column-start: 4
 grid-column-end: 5
 padding-right: 3rem

select.form-control
  width: 130%

.addSwitch
  padding-top: 25px

.add-cron
 margin-left: 30px

.group-jobs
  display: grid
  grid-template-columns: 4
  grid-template-rows: 2

.add
  margin-top:28px

.form-control-ev
  width: 80%
  margin-left: -10px

.text
  font-size: 16px
  color: #666
  font-weight: 600

.env-var-switch
  margin-left: 30px
  padding-bottom: 10px

.tab
  display: table

@media screen and (max-width: 675px)
  .container
    max-width: 100%
  .field
    grid-column-start: 1
    grid-column-end: 2
    justify-self: start
    margin-left: calc((100% - 300px)/2)
  .input-area
    justify-self: center
    margin-left: 0
    margin-right: 0
  .save-button-container
    justify-self: center
  .input-group
    justify-self: center
    margin-left: 0
    margin-right: 0
  .group-ev
   grid-template-columns: 2
   grid-template-rows: 5
  .name
    grid-column-start: 1
    grid-column-end: 2
  .value
    grid-column-start: 1
    grid-column-end: 2
  .branch
    grid-column-start: 1
    grid-column-end: 2
  .branch select
    width: 95%
  .isOn
    grid-column-start: 1
    grid-column-end: 2
  .form-control-ev
    margin-left: 0
