<div class="settings-wrp scrollable">

  <div class="settings">
    <div class="settings-section border-bottom">
      <h2>
        General
      </h2>
      <form (ngSubmit)="save(projectForm.value)" [formGroup]="projectForm">
        <div class="group">
          <div class="field">
            <span>Project name</span>
          </div>
          <div class="input-area">
            <input type="text" class="form-control form-control-sm" formControlName="name">
          </div>
          <div class="field">
            <span>Public repository</span>
          </div>
          <div class="input-area">
            <div class="custom-control custom-switch general-switch">
              <input type="checkbox" class="custom-control-input" id="isPublicSwitch" formControlName="isPublic" />
              <label class="custom-control-label" for="isPublicSwitch"></label>
            </div>
          </div>
          <div class="field">
            <span>Description</span>
          </div>
          <div class="input-area">
            <textarea type="text" rows="3" class="form-control form-control-sm" formControlName="description">
          </textarea>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-success" [disabled]="projectForm.errors">Save</button>
          <button type="button" class="btn btn-info" (click)="reset()">Reset</button>
        </div>
      </form>

      <br />
    </div>
    <div class="settings-section border-bottom padd">
      <h2 class="small-title">
        Enviroment Variables
      </h2>
      <p>Customize your build using enviroment variables. </p>


        <!-- Show Env Vars  -->
        <div class="group-ev vars" *ngFor="let varibable of envVariables" >

          <div class="name">
            Name:
            <div class="input-area">
              <input type="text" class="form-control form-control form-control-ev"
            [ngModel]="varibable.name">
            </div>

          </div>
          <div class="value">
            Value:
            <div class="input-area">
              <input type="text" class="form-control form-control form-control-ev"
            [ngModel]="varibable.value">
            </div>
          </div>
            <div class="branch">
              Branch:
              <select class="form-control" [ngModel]="varibable.branch">

                <ng-container *ngFor="let branch of branches">
                  <option [value]='branch'>{{branch}}</option>
                </ng-container>
              </select>
            </div>
            <div class="isOn options-env-vars">
              <button class="btn btn-danger add-cron" (click)="remvove(varibable)">Delete</button>
              <button class="btn btn-warning add-cron" (click)="edit(varibable)">Edit</button>
            </div>
        </div>
      <!-- Adding env vars -->
      <form (ngSubmit)="addEnvVar(envVarsForm.value)" [formGroup]="envVarsForm">
          <div class="group-ev">
          <div class='name'>
            <h5 class="text-over">Name</h5>
            <div class="input-area">
              <input type="text" class="form-control form-control form-control-ev" formControlName="name"
              placeholder="Name">
            </div>
          </div>
          <div class='value'>
            <h5 class="text-over">Value</h5>
            <div class="input-area">
              <input type="text" class="form-control form-control form-control-ev" formControlName="value"
              placeholder="Value">
            </div>
          </div>
          <div class='branch'>
            <h5 class="text-over">Branch</h5>
            <select class="form-control" formControlName="branch">

              <ng-container *ngFor="let branch of branches">
                <option [value]='branch'>{{branch}}</option>
              </ng-container>
            </select>
          </div>
          <div class='isOn'>
              <button class="btn btn-info add-cron" type="submit"[disabled]="envVarsForm.invalid">Add</button>
          </div>
        </div>

      </form>
    </div>
    <div class="settings-section border-bottom padd">
      <app-project-triggers></app-project-triggers>
      <h2 class="small-title padd">
        Cron Jobs
      </h2>
      <div class="input-area">
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="pushedBranches" name="pushedBranches" />
          <label class="custom-control-label" for="pushedBranches"></label>
          <p class="text-near"> Build pushed branches</p>
        </div>
      </div>
      <div class="input-area">
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="pushedRequests" name="pushedRequests" />
          <label class="custom-control-label" for="pushedRequests"></label>
          <p class="text-near"> Build pushed pull requests</p>
        </div>
      </div>
    </div>

  </div>

</div>
