<div class="settings-wrp scrollable">

  <div class="settings">
    <div class="settings-section border-bottom">
      <h2>
        General
      </h2>
      <form (ngSubmit)="save(projectForm.value)" [formGroup]="projectForm">
        <div class="group">
          <div class="field">
            <span>Project name</span>
          </div>
          <div class="input-area">
            <input type="text" class="form-control form-control-sm" formControlName="name">
            <app-loading-spinner position="relative" margin="0" top="-17px" left="92%" size="3px"
                *ngIf="projectForm.controls['name'].status === 'PENDING'">
            </app-loading-spinner>
            <div *ngIf="projectForm.controls['name'].errors">
              <div class="error" *ngIf="projectForm.controls['name'].errors.minlength && projectForm.controls['name'].touched">
                The minimum length is 4 characters
              </div>
              <div class="error" *ngIf="projectForm.controls['name'].errors.maxlength && projectForm.controls['name'].touched">
                The maximum length is 32 characters
              </div>
              <div class="error" *ngIf="projectForm.controls['name'].errors.required && projectForm.controls['name'].touched">
                Project name is required
              </div>
              <div class="error" *ngIf="projectForm.controls['name'].errors.pattern && projectForm.controls['name'].touched">
                Name must have only latin letters, digits and these<br> symbols ' - ', ' . ', ' _ '
              </div>
              <div class="error" *ngIf="projectForm.controls['name'].errors?.isProjectNameTaken">
                Project with name '{{projectForm.get('name').value}}' alredy exist
              </div>
            </div>
          </div>
          <div class="field">
            <span>Description</span>
          </div>
          <div class="input-area">
            <textarea type="text" rows="3" class="form-control form-control-sm" formControlName="description">
          </textarea>
            <div *ngIf="projectForm.controls['description'].errors">
              <div class="error" *ngIf="projectForm.controls['description'].errors.maxlength && projectForm.controls['description'].touched">
                Description must be less than 300 charecters
              </div>
              <div class="error" *ngIf="projectForm.controls['description'].errors.pattern && projectForm.controls['description'].touched">
                Description must have only latin letters, digits and <br> special characters
              </div>
            </div>
          </div>
          <div class="field">
            <span>Visibility level</span>
          </div>
          <div class="input-area">
            <div class="form-check">
              <input class="form-check-input" type="radio" formControlName="isPublic"
                     id="privateLevel" value="false">
              <label class="form-check-label" for="privateLevel">
                <div class="icon">
                  <i class="fas fa-lock"></i>
                </div>
                <div class="option-details">
                  <div class="option-title column">Private</div>
                  <div class="option-description column">
                    The project can only be available by you.
                  </div>
                </div>
              </label>
            </div>
          </div>
          <div class="input-area">
            <div class="form-check">
              <input class="form-check-input" type="radio" formControlName="isPublic" id="publicLevel"
                     value="true">
              <label class="form-check-label" for="publicLevel">
                <div class="icon">
                  <i class="fas fa-globe"></i>
                </div>
                <div class="option-details">
                  <div class="option-title column">Public</div>
                  <div class="option-description column">
                    The project can be viewed by all the users in system.
                  </div>
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" [ngStyle]="{'width': isShowSpinner ? '6rem' : '4rem' }"
                  class="btn btn-success" [disabled]="projectForm.invalid || isChanged ||
          !projectForm.dirty || projectForm.controls['name'].status === 'PENDING'">Save
            <span *ngIf="isShowSpinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-info" (click)="reset()">Reset</button>
        </div>
      </form>

      <br />
    </div>

    <div class="settings-section border-bottom padd">
      <h2 class="small-title">
        Environment  Variables
      </h2>
      <!-- Adding env vars -->
      <app-loading-spinner position="relative" margin="0" top="-25px" left="280px" size="8px"
        *ngIf="!isLoadedEnvVar">
      </app-loading-spinner>
      <ng-container *ngIf="isLoadedEnvVar">
      <form (ngSubmit)="addEnvVar(envVarsForm.value)" [formGroup]="envVarsForm">
        <div class="add-env-container border rounded">
          <p class="first-container my-2">Customize your build using environment variables. </p>
          <div class="second-container">
            <input type="text" class="form-control form-control form-control-ev-var" formControlName="name"
              placeholder="Name">
            <div *ngIf="envVarsForm.controls['name'].errors" class="err-block">
              <div class="error"
                *ngIf="envVarsForm.controls['name'].errors.required && envVarsForm.controls['name'].touched">
                Name is required
              </div>
              <div class="error"
                *ngIf="envVarsForm.controls['name'].hasError('isNotUniqueName')" >
                Name must be unique
              </div>
            </div>
          </div>
          <div class='third-container'>
            <input type="text" class="form-control form-control form-control-ev-var" formControlName="value"
              placeholder="Value">
            <div *ngIf="envVarsForm.controls['value'].errors" class="err-block">
              <div class="error"
                *ngIf="envVarsForm.controls['value'].errors.required && envVarsForm.controls['value'].touched">
                Value is required
              </div>
            </div>
          </div>
          <div class='fourth-container'>
            <h5 class="text-over"><label for="isSecret">Is Secret</label></h5>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="isSecret" formControlName="isSecret" />
                <label class="custom-control-label" for="isSecret"></label>
              </div>
          </div>
          <div class="fifth-container">
            <button class="btn btn-info m-0" type="submit" [disabled]="envVarsForm.invalid || !isLoadedEnvVar || isNotUniqueCheckChanges(envVarsForm.controls['name'].value)">Add Variable</button>
          </div>
        </div>
      </form>
    </ng-container>
    </div>
      <!-- Show Env Vars  -->
      <ng-container *ngFor="let varibable of envVariables; index as i">
        <app-env-vars-editor [envVariables]="envVariables" [envVar]="varibable" [index]="i+1"></app-env-vars-editor>
      </ng-container>
    </div>
    <div class="settings-section border-bottom padd">
      <app-project-triggers [project]="project"></app-project-triggers>
  </div>
</div>
