<div class="modal-body">
    <img class="logo" src="../../../../assets/images/logo.png" />
    <p>It seems that you would like to login with Github. 
        To make it possible login with Google and 
        link with Github in user settings firstly</p>
        <div class="buttons">
            <button type="submit" class="btn btn-success" ngbAutofocus (click)="ok()">OK</button>
            <button type="button" class="btn btn-warning" (click)="onCancel()">Cancel</button>
          </div>
</div>