<div *ngIf="
loadingUsers ;
then loading;
else loaded;
"></div>
<ng-template #loading>
  <app-loading-spinner margin="170px auto" size="20px"></app-loading-spinner>
</ng-template>
<ng-template #loaded>

  <div class="invite" *ngIf="isCurrentUserOwnerOrAdmin() && isCurrentUserAccepted()">
    <h4>Invite member</h4>
    <form [formGroup]="memberForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6">
          <ng-template #rt let-r="result" let-t="term">
            <div class="row my-3">
              <div class="item area">
                <img [src]="r.avatarUrl" onerror="this.src='../../../../assets/images/Avatar-default.png'"
                     class="avatar" />
              </div>
              <div class="user">
                <div class="row-top">
                  {{r.firstName}}
                  {{r.lastName}}
                  ({{ r.username}})
                </div>
                <div class="row-bottom gray">
                  {{r.email}}
                </div>
              </div>
            </div>
          </ng-template>
          <label for="typeahead-basic">Search user:</label>
          <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search"
                 [resultFormatter]="formatter" [inputFormatter]="inputFormatter" formControlName="user"
                 placeholder="Username or email" [resultTemplate]="rt" />
        </div>
        <div class="col-md-6">
          <label for="input-role">Choose a role permission:</label>
          <div tabindex="0" id="input-role" role="button">
            <select class="form-control" [value]="memberForm.controls['dropdown']?.value"
                    placeholder="Choose role from dropdown" formControlName="dropdown">
              <option *ngFor="let item of roles" (click)="memberForm.controls['dropdown'].setValue(groupRole[item])"
                      class="dropdown-item">
                {{groupRole[item]}}
              </option>>
            </select>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-success" [disabled]="memberForm.invalid">Invite
          <span *ngIf="isShowSpinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
      </div>
    </form>
  </div>
  <div class="container">
    <div class="row my-3 border rounded member-wr" *ngFor="let member of members">
      <div class="item-avatar area">
        <img [src]="member.user.avatarUrl" [routerLink]="'/portal/user/' + member.user.id"
             onerror="this.src='../../../../assets/images/Avatar-default.png'" alt="Avatar" class="avatar" />
      </div>
      <div class="user">
        <div class="row-top">
          <h5><a class="text-dark" [routerLink]="'/portal/user/' + member.user.id">{{member?.user.username}}</a></h5>
        </div>
        <div class="align-text-top row-bottom gray">
          <p class="gray" *ngIf="member.isAccepted; else notAccepted">Member since
            {{member.joinedDate | date:'mediumDate'}}</p>
          <ng-template #notAccepted>
            <p class="gray">Pending to accept invitation </p>
          </ng-template>
        </div>
      </div>
      <div class="item area role">
        <div class="area" *ngIf="!member.isAccepted || member.memberRole === groupRole.Owner
          || member.user.id === this.currentUser.id; else other">
          <div class="user-access-role">{{groupRole[member.memberRole]}}</div>
        </div>
        <ng-template #other>
          <div class="area" *ngIf="!isCurrentUserOwnerOrAdmin()">
            <div class="user-access-role">{{groupRole[member.memberRole]}}</div>
          </div>
          <div class="area" *ngIf="isCurrentUserOwnerOrAdmin() && !isCurrentUserAccepted()">
            <div class="user-access-role">{{groupRole[member.memberRole]}}</div>
          </div>
          <div *ngIf="member.isAccepted && member.user.id !== this.currentUser.id
          && isCurrentUserOwnerOrAdmin() && isCurrentUserAccepted()" ngbDropdown>
            <div class="user-access-role" tabindex="0" ngbDropdownToggle id="navbarDropdown2" role="button">
              {{groupRole[member.memberRole]}}
            </div>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-right"
                 container="body">
              <div class="dropdown-header">Change permissions</div>
              <div class="dropdown-divider"></div>
              <button class="dropdown-item" *ngFor="let role of roles" (click)="changeMemberRole(member, role)"
                      container="body">
                <span *ngIf="role===member.memberRole">&#10003;</span> {{groupRole[role]}}</button>
            </div>
          </div>
          <div class="item area delete" *ngIf="member.isAccepted &&
            member.user.id !== this.currentUser.id && isCurrentUserOwnerOrAdmin() && isCurrentUserAccepted()">
            <button (click)="deleteMember(member.id)" class="btn btn-delete"><i class="far fa-trash-alt"></i></button>
          </div>
        </ng-template>
        <div class="item area delete" *ngIf="member.memberRole !== groupRole.Owner &&
        member.user.id === this.currentUser.id">
          <button (click)="deleteMember(member.id)" class="btn btn-delete"><i class="far fa-trash-alt"></i></button>
        </div>
        <div class="item area delete" *ngIf="!member.isAccepted && isCurrentUserOwnerOrAdmin() && isCurrentUserAccepted()">
          <button (click)="deleteMember(member.id)" class="btn btn-delete"><i class="far fa-trash-alt"></i></button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
