<app-loading-spinner *ngIf="isLoading; else loaded;" margin="170px auto" size="20px"></app-loading-spinner>

<ng-template #loaded>
  <div *ngIf="buildHistory; else emptyBuilds">
    <nav aria-label="breadcrumb" *ngIf="!isCurrent">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="../">Show all</a></li>
      </ol>
    </nav>
    <div class="build" [appBuildHistoryStatusOutline]="buildHistory.buildStatus">
      <div class='user-commit'>
        <span class="build-url-wrp">
          <img
            [src]="buildHistory.performer?.avatarUrl"
            onerror="this.src='../../../../assets/images/Avatar-default.png'"
            alt="Avatar"
            class="avatar icon-wrp" />Author: <a class="url" title="Open profile" [routerLink]="'/portal/user/' + buildHistory.performerId">{{buildHistory.performer?.username || 'System'}}</a>
        </span>
        <p class="build-url-wrp"><i class="fas fa-code icon-wrp"></i> Commit:
          <a
            class="commit-link url"
            *ngIf="project.repository?.url && buildHistory?.commitHash; else notLink;"
            target="_blank"
            title="View commit on GitHub"
            href="{{project.repository.url}}/commit/{{buildHistory.commitHash}}">{{ getCommit(buildHistory) }} <i class="fas fa-external-link-alt external-icon-url"></i></a>
          <ng-template #notLink>
            <span> — </span>
          </ng-template>
        </p>
        <p class="build-url-wrp"><i class="fas fa-code-branch icon-wrp"></i> Branch:
          <a
            class="commit-link url"
            *ngIf="project.repository?.url && buildHistory?.branchHash; else noBranchLink;"
            target="_blank"
            title="View branch on GitHub"
            href="{{project.repository.url}}/tree/{{buildHistory.branchHash}}">{{buildHistory.branchHash}} <i class="fas fa-external-link-alt external-icon-url"></i></a>
          <ng-template #noBranchLink>
            <span> — </span>
          </ng-template>
        </p>
      </div>
      <div class="build-info">
        <p
          class="status"
          [ngClass]="{'status-blink': buildHistory.buildStatus == 5}"
          [appBuildHistoryStatus]="buildHistory.buildStatus">
          <i class="fas fa-hammer icon-wrp"></i> #{{buildHistory.number}} {{buildHistory.buildStatus | buildStatus}}
        </p>
        <p class="build-time"><i class="far fa-clock icon-wrp"></i> Duration {{buildHistory.duration | timespan}}</p>
        <p class="start-time" title="Finished {{buildHistory.buildAt | date:'medium':'+07:00'}}">
          <i class="far fa-calendar-alt icon-wrp"></i> Finished {{buildHistory.buildAt | dateAgo}}</p>
        <button class="btn btn-link restart-button" (click)="restartBuild()">
          <i class="fas fa-redo"></i>
          <span class="button-text"> Restart build</span></button>
      </div>
  </div>
  <app-logging-terminal [buildhistory]="buildHistory"></app-logging-terminal>
</div>
</ng-template>
<ng-template #emptyBuilds>
  <div class="container">
    <div class="no-builds-container">
      <div class="image-container">
        <img class="builders" [src]="'../../../../assets/images/Play.png'" />
      </div>
      <span class="my-3">
        It seems that you do not yet have builds for this project, you can run it at any time!
        </span>
    </div>
  </div>
</ng-template>
