<div class="container center-block">

  <input type="file" (change)="fileChangeEvent($event)" />

  <image-cropper
  [imageChangedEvent]="imageChangedEvent"
  [maintainAspectRatio]="true"
  [aspectRatio]="4 / 4"
  format="png"
  [roundCropper]	= "true"
  (imageCropped)="imageCropped($event)"
  (imageLoaded)="imageLoaded()"
  (cropperReady)="cropperReady()"
  (loadImageFailed)="loadImageFailed()"
></image-cropper>
<div class="img-preview">
  <img [src]="croppedImage" />
</div>
<div *ngIf="canSave">
  <button class="btn btn-success" (click)="save()">Save</button>
</div>
</div>
