<div class="container center-block">
  <div class="modal-header">
    <h4>Upload photo</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
  <input *ngIf="!content" type="file" (change)="fileChangeEvent($event)"/>
  
  <image-cropper
  [imageChangedEvent]="imageChangedEvent"
  [maintainAspectRatio]="true"
  [imageURL]="content"
  [aspectRatio]="4 / 4"
  format="png"
  [roundCropper]	= "true"
  (imageCropped)="imageCropped($event)"
  (imageLoaded)="imageLoaded()"
  (cropperReady)="cropperReady()"
  (loadImageFailed)="loadImageFailed()"
></image-cropper>
<div class="img-preview">
  <img [src]="croppedImage" />
</div>
<div *ngIf="canSave">
  <button class="btn btn-success" (click)="save()">Save</button>
</div>
</div>
