<div class="cron-wr">
  <cron-jobs [config]="cronConfig" [(ngModel)]="cronResult" class="fisrt"> </cron-jobs>

  <div *ngIf="cronInput; else elseBlock" class="btn-wr">
    <button (click)="updating()" class="btn btn-warning"><i class="fa fa-save fa-lg"></i></button>
    <button (click)="deleting()" class="btn btn-danger"><i class="fa fa-trash fa-lg"></i></button>
  </div>

  <ng-template #elseBlock>

    <button *ngIf="cronResult; else elseNewCron" (click)="saveBuildPeriod()" class="btn btn-info">Add </button>

    <ng-template #elseNewCron>
      <button (click)="saveBuildPeriod()" class="btn btn-secondary" disabled>Add </button>
    </ng-template>

  </ng-template>
</div>
