.project-container
  color: #666
  font-size: 16px
  line-height: 1.45
  padding: 1.2em

.project-header
  display: flex
  flex-flow: row wrap
  justify-content: flex-start
  align-items: center

.project-title
  margin-right: 1.2em
  display: inline-block

.project-icon
  width: 26px
  height: 26px
  margin-right: 10px
  display: inline-block

.user-project-names
  display: inline-block
  vertical-align: middle
  margin: 0
  font-size: 36px
  font-weight: 400

  a
    color: #666

    &:hover
      color: #666
      border-bottom: 2px solid #ce383800

.repo-icon
  margin-right: 1.2em
  display: inline-block
  vertical-align: middle
  width: 30px
  height: 30px

  a path
    fill: rgba(0, 0, 0, 0.2)
    stroke: none

.repo-badge
  display: inline-block
  vertical-align: middle

.project-main
  display: flex
  flex-direction: column
  align-content: center

nav
  margin-bottom: 1rem

.list-group-horizontal
  width: 100%
  border-bottom: 2px solid #f1f1f1
  margin-top: 15px
  .list-group-item
    padding: 5px 15px 0 15px
    display: flex
    color: #666
    justify-content: start
    border-style: none
    text-decoration: none
    box-sizing: content-box
    &:hover
      a
        color: #3eaaaf
        background-color: white

        &::after
          content: ""
          color: #3eaaaf
          display: block
          position: absolute
          bottom: -2px
          width: 100%
          height: 2px
          background-color: #3eaaaf

    a
      position: relative
      display: inline-block
      padding-bottom: 5px
      text-decoration: none
      color: #666

.active
  background-color: white !important
  color: #3eaaaf !important
  a::after
    content: ""
    color: #3eaaaf
    display: block
    position: absolute
    bottom: -2px
    width: 100%
    height: 2px
    background-color: #3eaaaf
