<div class="container project-container">
  <div class="project-header">
    <div class="project-title">
      <div class="project-icon">
        <i class="fas" [ngClass]="[project.isPublic ? 'fa-book' : 'fa-lock']"></i>
      </div>
      <h1 class="user-project-names">
        <a [routerLink]="'/portal/user/' + project.ownerId">{{ project.owner?.username }}</a> / <a [routerLink]="">{{ project.name }} </a>
      </h1>
    </div>
    <div class="repo-icon">
      <a title="{{ project.name }} on GitHub" target="_blank" [href]="project.repository.url">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <div class="repo-badge">
      <a
        title="Latest build status: {{lastBuild?.buildStatus | buildStatus}}"
        [routerLink]=" lastBuild ? ['history/' + lastBuild?.id] : ['steps']">
        <svg xmlns="http://www.w3.org/2000/svg" width="98" height="20">
          <linearGradient id="a" x2="0" y2="100%">
            <stop offset="0" stop-color="#bbb" stop-opacity=".1" />
            <stop offset="1" stop-opacity=".1" />
          </linearGradient>
          <rect rx="3" width="98" height="20" fill="#555" />
          <rect rx="3" x="37" width="61" height="20" fill="#9f9f9f" />
          <path fill="#9f9f9f" d="M37 0h4v20h-4z" />
          <rect rx="3" width="98" height="20" fill="url(#a)" />
          <g
            fill="#fff"
            text-anchor="middle"
            font-family="DejaVu Sans,Verdana,Geneva,sans-serif"
            font-size="11"
          >
            <text x="19.5" y="15" fill="#010101" fill-opacity=".3">build</text>
            <text x="19.5" y="14">build</text>
            <text x="66.5" y="15" fill="#010101" fill-opacity=".3">
            </text>
            <text *ngIf = "lastBuild;" x="66.5" y="14">{{lastBuild?.buildStatus | buildStatus}}</text>
            <text *ngIf = "!lastBuild;" x="66.5" y="14">No builds</text>
          </g>
        </svg>
      </a>
    </div>
  </div>
  <div class="project-main">

    <app-tabs [tabRoutes]="isSameUser ? tabRoutes : tabRoutesGuest"></app-tabs>
    <div class="project-body">
        <button id="triggerBuildButton" *ngIf="isSameUser || hasPermissionToTriggerBuild" class="btn btn-link trigger-button" (click)="openBranchSelectionModal(branchSelectModal, project.id)"><i class="fas fa-play-circle"></i>
          <span class="trigger-button-text"> Trigger build</span></button>

        <ng-template #branchSelectModal let-modal>
        <div class="modal-header">
          <h4 style="color: #17a2b8;">Run build</h4>
          <div (click)="modal.dismiss()">
            <i id="cross" class="fas fa-times"></i>
          </div>
        </div>
        <div class="modal-body branch-modal">
          <div class="group">
            <div class="field">
              <div class="label-wr">
                <span>Select a branch:</span>
              </div>
            </div>
            <div class="input-area" *ngIf="!loadingSelectedProjectBranches else loadingBranches">
              <select class="form-control form-control-sm branch-select" [(ngModel)]="selectedProjectBranch">
                <option *ngFor="let branch of selectedProjectBranches" [ngValue]='branch.name'>
                  {{branch.name}}
                </option>
              </select>
            </div>
          </div>
          <div class="btn-wr">
            <button class="btn btn-success" [disabled]="!selectedProjectBranch"
              (click)="triggerBuild()">Select</button>
            <button class="btn btn-warning" (click)="closeModal()">
              Cancel
            </button>
          </div>
        </div>

        <ng-template #loadingBranches>
          <div class="spinner-wrp">
            <app-loading-spinner position="absolute" margin="0" size="4px">
            </app-loading-spinner>
          </div>
        </ng-template>
      </ng-template>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
