.project-container
  color: #666
  font-size: 16px
  line-height: 1.45
  padding: 1.2em

.project-header
  display: flex
  flex-flow: row wrap
  justify-content: flex-start
  align-items: center

.project-title
  margin-right: 1.2em
  display: inline-block

.project-icon
  width: 26px
  height: 26px
  margin-right: 10px
  display: inline-block

.user-project-names
  display: inline-block
  vertical-align: middle
  margin: 0
  font-size: 36px
  font-weight: 400

  a
    color: #666

    &:hover
      color: #666
      border-bottom: 2px solid #ce383800

.repo-icon
  margin-right: 1.2em
  display: inline-block
  vertical-align: middle
  width: 30px
  height: 30px

  a path
    fill: rgba(0, 0, 0, 0.2)
    stroke: none

.repo-badge
  display: inline-block
  vertical-align: middle

.project-main
  display: flex
  flex-direction: column
  align-content: center

nav
  margin-bottom: 1rem
