/* You can add global styles to this file, and also import other style files */
body
  overflow: auto

.popover
   border: 1px solid #17a2b8

.popover-body
  padding: 0px

.popover .arrow:after
  border-top-color: #17a2b8

.cron-jobs>div>label:first-child
  display: none

.cron-jobs>div
  grid-gap: 8px 0px

//styles for radio buttons like on the group page
.visibility-level-settings
  .form-check
    margin-bottom: 10px

.form-check
  display: block
  position: relative
  padding-left: 1.25rem

.form-check-input
  position: absolute
  margin-top: 0.3rem
  margin-left: -1.25rem

.form-check-label
  position: relative
  display: flex
  margin-bottom: 0
  .icon
    margin-right: .5rem





