/* You can add global styles to this file, and also import other style files */
html
  scroll-behavior: smooth
body
  overflow: auto

.popover
   border: 1px solid #17a2b8

.popover-body
  padding: 0px

.popover .arrow:after
  border-top-color: #17a2b8

.cron-jobs>div>label:first-child
  display: none

.cron-jobs>div
  grid-gap: 8px 0px

//styles for radio buttons like on the group page
.visibility-level-settings
  .form-check
    margin-bottom: 10px

.form-check
  display: block
  position: relative
  padding-left: 1.25rem

.form-check-input
  position: absolute
  margin-top: 0.3rem
  margin-left: -1.25rem

.form-check-label
  position: relative
  display: flex
  margin-bottom: 0
  .icon
    margin-right: .5rem

.external-icon-url
  font-size: 10px
  color: gray

.external-build-url
    text-decoration: none
    cursor: pointer
    color: #666666

    a
      color: #666666

.line-bottom
  border-bottom: 2px solid #f1f1f1

.settings-hint
  color: #666
  text-align: center
  width: fit-content
  padding: 15px

  .hint-content
    line-height: 1.5
    font-size: 16px
    font-family: "Source Sans Pro", Helvetica, sans-serif
    font-weight: 100

.project-settings-actions-wrp
  .btn-update,
  .btn-delete
    font-size: 20px
    padding: 2px 8px
    &:hover
      background-color: rgba(9,30,66,.08)

@media (max-width: 675px)
  .settings-hint
    .hint-content
      font-size: 12px

//styles for close button in the modal windows
#cross
  height: 20px
  width: 20px
  margin-top: 6px
  transition: .3s
  cursor: pointer

#cross:hover
  transition: .3s
  color: crimson

.status-blink
  animation: blinker 0.6s linear infinite

@keyframes blinker
  50%
    opacity: 0

.blink-one
  animation: blinker-one 1s linear infinite

@keyframes blinker-one
  0%
    opacity: 0

.blink-two
  animation: blinker-two 1.4s linear infinite

@keyframes blinker-two
  100%
    opacity: 0

