<div class="text-content container">
  <h1>Want to get status of your builds straight to your inbox? Prefer only app notifications?<br>
    Or you want to enable both? Configure receiving notificationsfrom buildeR,we are happy to inform you!<br>
    <small>(We kindly recommend you not to turn off all the notifications to keep in touch with your project status.)</small></h1>
</div>
<div class="container line-bottom mb-3 pb-3">
  <div class="setting-container enable-disable-all-wr">
    <div class="description p-2 mr-5">
      <span>App notifications</span>
    </div>
    <div class="custom-control custom-switch m-2">
      <input type="checkbox" class="custom-control-input" id="allApp" [(ngModel)]="setting.enableApp">
      <label class="custom-control-label" for="allApp"></label>
    </div>
    <div class="description p-2 mr-5">
      <span>Email notifications</span>
    </div>
    <div class="custom-control custom-switch  m-2">
      <input type="checkbox" class="custom-control-input" id="allEmail" [(ngModel)]="setting.enableEmail">
      <label class="custom-control-label" for="allEmail"></label>
    </div>
  </div>
</div>
<div class="container line-bottom">
  <div class="setting-container">
    <div class="description p-2 titel">
      <span>Receive updates</span>
    </div>
    <div class="option p-2 titel row">
      <span class="mr-5">App</span>
      <span>Email</span>
    </div>
  </div>
</div>
<ng-container *ngFor="let option of setting.notificationSettingOptions">
  <div class="container line-bottom">
    <div class="setting-container">
      <div class="description p-2">
        <span>{{option.description}}</span>
      </div>
      <div class="option p-2 row">
        <div class="custom-control custom-switch mr-5">
          <input type="checkbox" class="custom-control-input" id="{{option.notificationType}}app"
            [(ngModel)]="option.app" (change)="onToggle(option.app)" [disabled] = '!setting.enableApp'>
          <label class="custom-control-label" for="{{option.notificationType}}app"></label>
        </div>
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="{{option.notificationType}}email"
            [(ngModel)]="option.email" (change)="onToggle(option.email)" [disabled] = '!setting.enableEmail'>
          <label class="custom-control-label" for="{{option.notificationType}}email"></label>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<div class="container mt-3 grid">
  <button class="btn btn-success btn-position" (click)="save()">Save
    <span *ngIf="isShowSpinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  </button>
</div>
