<div class="container line-bottom mb-3 pb-3">
  <div class="setting-container enable-disable-all-wr">
    <div class="description p-2 mr-5">
      <span>App notifications</span>
    </div>
    <div class="custom-control custom-switch m-2">
      <input type="checkbox" class="custom-control-input" id="allApp" [(ngModel)]="appChecked">
      <label class="custom-control-label" for="allApp"></label>
    </div>
    <div class="description p-2 mr-5">
      <span>Email notifications</span>
    </div>
    <div class="custom-control custom-switch  m-2">
      <input type="checkbox" class="custom-control-input" id="allEmail" [(ngModel)]="emailChecked">
      <label class="custom-control-label" for="allEmail"></label>
    </div>
  </div>
</div>
<div class="container line-bottom">
  <div class="setting-container">
    <div class="description p-2 titel">
      <span>Resive updates</span>
    </div>
    <div class="option p-2 titel row">
      <span class="mr-5">App</span>
      <span>Email</span>
    </div>
  </div>
</div>
<ng-container *ngFor="let setting of settings">
  <div class="container line-bottom">
    <div class="setting-container">
      <div class="description p-2">
        <span>{{setting.description}}</span>
      </div>
      <div class="option p-2 row">
        <div class="custom-control custom-switch mr-5">
          <input type="checkbox" class="custom-control-input" id="{{setting.notificationType}}app"
            [(ngModel)]="setting.app" (change)="onToggle(setting.app)" [disabled] = '!appChecked'>
          <label class="custom-control-label" for="{{setting.notificationType}}app"></label>
        </div>
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="{{setting.notificationType}}email"
            [(ngModel)]="setting.email" (change)="onToggle(setting.email)" [disabled] = '!emailChecked'>
          <label class="custom-control-label" for="{{setting.notificationType}}email"></label>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<div class="container mt-3 grid">
  <button class="btn btn-success btn-position" (click)="save()">Save</button>
</div>
