.line-bottom
  border-bottom: 2px solid #f1f1f1

.enable-disable-all-wr
  width: fit-content

.setting-container
  display: grid
  grid-template-columns: 3

.description
  grid-column-end: 1
  justify-self: start

.option
  grid-column-end: 2
  justify-self: end

.titel
  color: #666
  font-family: "Source Sans Pro", Helvetica, sans-serif
  font-weight: bold
  font-size: 1rem

.grid
  display: grid

.btn-position
  justify-self: end
