<div class="card-wrp" [appBuildHistoryStatusOutline]="build.buildStatus">
  <div class='user-commit'>
    <a [ngClass]="{'disabled-link': build.performer?.username === 'BuilderBot'}" [routerLink]="'/portal/user/' + build.performer?.id">
      <img [src]="build.performer?.avatarUrl" onerror="this.src='../../../../assets/images/Avatar-default.png'" alt="Avatar" class="avatar" />
      <span>{{build.performer?.username || 'System'}}</span>
    </a>
    <p>
      <a *ngIf="build.project;" [routerLink]="'/portal/projects/' + build.project.id">
        <span><i class="fas fa-book"></i> {{ build.project.name }}</span>
      </a>
    </p>
    <p>
      <span *ngIf="repository?.url && build?.commitHash; else noValue;" class="build-url-wrp">
        <i class="fas fa-code"></i> Commit:
        <a class="commit-link" target="_blank" href="{{repository.url}}/commit/{{build.commitHash}}">{{ getCommit(build) }} <i class="fas fa-external-link-alt external-icon-url"></i></a>
      </span>
    </p>
    <p>
      <span *ngIf="repository?.url && build?.branchHash; else noValue;" class="build-url-wrp">
        <i class="fas fa-code-branch"></i> Branch:
        <a class="commit-link" target="_blank" href="{{repository.url}}/tree/{{build.branchHash}}">{{build.branchHash}} <i class="fas fa-external-link-alt external-icon-url"></i></a>
      </span>
    </p>
  </div>
  <div class="build-info">
    <a
      class="status"
      [ngClass]="{'status-blink': build.buildStatus === 5}"
      [routerLink]="build.id" [appBuildHistoryStatus]="build.buildStatus">
      <i class="fas fa-hammer"></i> #{{build.number}} {{build.buildStatus | buildStatus}}
    </a>
    <div class="build-time"><i class="far fa-clock"></i> {{build.duration | timespan}}</div>
    <div class="start-time" title="Finished {{build.buildAt | date:'medium':'UTC +5'}}"><i class="far fa-calendar-alt"></i>
      {{build.buildAt | dateAgo}}</div>
  </div>
</div>

<ng-template #noValue>
  <span> — </span>
</ng-template>
