<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">buildeR</a>
    <button (click)="isMenuCollapsed = !isMenuCollapsed" class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isMenuCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#features">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#flow">Flow</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button type="button" class="btn btn-primary mr-2 mb-2" (click)="signUpRedirect()">Sign up</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-primary" (click)="signInRedirect()">Sign in</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Main content container -->

<div class="container mt-5 mb-5">

  <!-- Top block -->

  <div class="main-title">
    <span>buildeR -</span>
    <div class="rotating-header">
      <div class="rotating-word-spacer">Deploy</div>
      <div class="rotating-words">
        <strong>Push</strong>
        <strong>Test</strong>
        <strong>Build</strong>
        <strong>Deploy</strong>
      </div>
    </div>
  </div>

  <img src="../../../assets/000.png" class="img-fluid mt-5">

  <!-- Features block -->
  <h2 class="text-center mt-5 mb-5">Main features</h2>

  <div id="features" class="text-white row row-cols-lg-4 row-cols-md-2 row-cols-sm-2 row-cols-1">

    <div class="col mb-4">
      <div class="card bg-dark h-100">
        <div class="card-body">
          <h5 class="card-title">Dashboard</h5>
          <p class="card-text">Dashboard where you can see all your projects, last build status and instantly run any
            project</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card bg-dark h-100">
        <div class="card-body">
          <h5 class="card-title">OAuth</h5>
          <p class="card-text">Quick and easy registartion with your Github, Bitbucket of Gmail accounts</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card bg-dark h-100">
        <div class="card-body">
          <h5 class="card-title">Build steps</h5>
          <p class="card-text">You define build steps for each of your projects by yourselft</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card bg-dark h-100">
        <div class="card-body">
          <h5 class="card-title">Build logs</h5>
          <p class="card-text">You'll get your build logs in realtime</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card bg-dark h-100">
        <div class="card-body">
          <h5 class="card-title">Dashboard</h5>
          <p class="card-text">Dashboard where you can see all your projects, last build status and instantly run any
            project</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card bg-dark h-100">
        <div class="card-body">
          <h5 class="card-title">OAuth</h5>
          <p class="card-text">Quick and easy registartion with your Github, Bitbucket of Gmail accounts</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card bg-dark h-100">
        <div class="card-body">
          <h5 class="card-title">Build steps</h5>
          <p class="card-text">You define build steps for each of your projects by yourselft</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card bg-dark h-100">
        <div class="card-body">
          <h5 class="card-title">Build logs</h5>
          <p class="card-text">You'll get your build logs in realtime</p>
        </div>
      </div>
    </div>

  </div>

  <!-- Flow block -->

  <h2 class="text-center mt-5 mb-5">Flow</h2>

  <div id="flow">
    <ul class="progressbar">
      <li>Push</li>
      <li>Build</li>
      <li>Test</li>
      <li>Deploy</li>
      <li>Done</li>
    </ul>
  </div>
  <div>&nbsp;</div>
</div>

<footer class="footer mt-auto py-3 text-center bg-light">
  <div class="container">
    <span class="text-muted">Powered by Binary Studio Academy</span>
  </div>
</footer>
