<form #triggerForm="ngForm" class="border rounded form-wrp">
  <div class="trigger-order">
    <span *ngIf="order">#{{order}}</span>
  </div>
  <div class="form-control-wr">
    <label>
      Trigger branch
    </label>
    <div class="input-wr">
      <select name="branch" class="form-control branch-select" [(ngModel)]="trigger.branch" title="branch">
        <option *ngFor="let branch of branches" [ngValue]='branch'
          [selected]="trigger.branch === branch">{{branch}}
        </option>
      </select>
      <!-- <div class="error" [hidden]="!branchInput.errors?.required || branchInput.untouched">
        Branch is required
      </div> -->
    </div>
  </div>
  <div class="form-control-wr">
    <label>
      Events which trigger build
    </label>
    <div class="input-wr">
      <ng-multiselect-dropdown
        [placeholder]="'Select events'"
        [data]="eventsList"
        [settings]="dropdownSettings"
        [(ngModel)]="selectedEvents"
        name="eventsSelect"
        (onSelect)="eventsOnChange()"
        (onDeSelect)="eventsOnChange()"
        (onSelectAll)="eventsOnChange()"
        (onDeSelectAll)="eventsOnChange()"
      >
      </ng-multiselect-dropdown>
    </div>
  </div>
  <div class="form-control-wr-small">
    <div *ngIf="createNewTrigger" class="btn-wr">
      <button class="btn btn-success" [disabled]="!trigger.branch || !selectedEvents?.length" (click)="createTrigger()">Add</button>
    </div>
    <div *ngIf="!createNewTrigger" class="project-settings-actions-wrp">
      <button [disabled]="!(selectedEventsChanged || triggerForm.touched) || !trigger.branch || !selectedEvents?.length" (click)="saveEditedTrigger()" class="btn btn-update text-dark">
        <i class="fas fa-save"></i>
      </button>
      <button (click)="deleteTrigger()" class="btn btn-delete text-danger">
        <i class="fas fa-trash-alt"></i>
      </button>
    </div>
  </div>
</form>
