.fa-bars
  display: inline-block
  height: 1.5em
  vertical-align: middle
  color: gray

.fa-bars:hover
  color: #17a2b8

.dropdown-toggle::after
  content: none

.dropdown-item
  padding-left: 1rem
  padding-right: 1rem
  color: #666
  cursor: pointer

.dropdown-divider
  padding: 0px
  margin: 0px

.bars
  padding: 0px
  font-size: 1.5em

.btn:focus, .btn.focus
    outline: 0
    box-shadow: none

.row-top
  margin-top: 1%
  margin-bottom: 1%

.area
  margin-top: 1%
  margin-bottom: 1%

.label-wr
  width: 100%
  display: flex
  justify-content: flex-start
  span
    display: block

.group
  display: grid
  grid-template-columns: 2
  grid-template-rows: 2

.field
  grid-column-start: 0
  grid-column-end: 1
  justify-self: end

.input-area
  grid-column-start: 1
  grid-column-end: 2
  justify-self: start
  margin: 0 10px 20px

.btn-wr
  width: 100%
  display: flex
  justify-content: flex-end
  align-items: center

  button
    margin: 5px

a
  cursor: pointer

.row > p.text-center
  font-size: 1.5rem

span.title
  font-size: 2rem

.project-wr
  padding-left: 30px

.actions
  padding-top: 1.5%

.plus
  text-align: right

.fa-bookmark
  padding-right: 2%

.btn-info
  margin-right: 4%

.branch-select
  button
    margin: 5px

.branches-loading-wrp
  height: 3rem

select
  width: 300px

.no-projects-container
  display: flex
  flex-direction: column
  justify-items: center
  align-items: center
  margin-top: 3%
  font-size: 1.5rem
  span
    text-align: center
    color: #212529

.builders
  height: 20rem

@media screen and ( min-width: 1100px )
  .dropdown-menu
    margin-left: -120px
