.trigger-wr
  margin: 0 auto

.schedulers-container
  padding-top: 40px

.title
  color: #03BBD5
  font-size: 1.5rem

p.title
  color: #03BBD5
  font-size: 1.2rem

select
  display: inline-block
  width: auto
  vertical-align: middle

.text
  margin-bottom: 0.3rem
  font-size: 14px
  color: #666
  font-weight: 700

.small-text
  color: #666
  font-size: 14px

.switch-wr
  margin: 20px 0

.branch-select
  max-width: 130px

.trigger-base-container
  display: grid
  grid-gap: 5px
  margin-bottom: 10px

.remote-trigger-wrp
  margin: 5px 0
  background-color: rgba(9,30,66,.04)

.scheduler-trigger-wrp
  grid-template-columns: 30px 103px 42px 1fr 72px
  padding: 10px 5px
  align-items: center
  background-color: rgba(9,30,66,.04)

.first-container
  grid-column: 1
  display: flex
  align-self: center

.second-container
  grid-column: 2
  justify-self: end
  grid-gap: 4px

.third-container
  grid-column: 3
  justify-self: end

.fourth-container
  grid-column: 4

.fifth-container
  grid-column: 5
  justify-self: end

.sixth-container
  grid-column: 2/5
  display: flex
  flex-wrap: wrap
  justify-items: flex-start

@media screen and (max-width: 991px)
  .scheduler-trigger-wrp
    grid-template-columns: 1fr
  .trigger-container
    justify-items: start
    grid-gap: 6px
  .first-container,
  .second-container
    grid-column: 1
    grid-row: 1
  .first-container
    justify-self: center
  .fifth-container
    grid-column: 1
    grid-row: 1
  .second-container,
  .third-container,
  .fourth-container,
  .sixth-container
    grid-column: 1
    justify-self: start

  .divider
    min-height: 3px
    width: 60%
    margin: 10px 0px 10px 0
    background-color: var(--light)

@media screen and (max-width: 675px)
  .divider
    width: 100%
