.trigger-wr
  margin: 0 auto

.title
  color: #03BBD5
  font-size: 1.5rem

select
  display: inline-block
  width: auto
  vertical-align: middle

.add-new-job
  display: flex
  flex-direction: row
  align-items: flex-start

.text-over
  font-size: 18px
  color: #666

.text
  margin-bottom: 0.3rem
  font-size: 14px
  color: #666
  font-weight: 700

.small-text
  color: #666
  font-size: 14px

.switch-wr
  margin: 20px 0

.trigger-group
  display: grid
  grid-template-columns: minmax(auto, max-content) minmax(auto, max-content) minmax(auto, max-content) auto
  grid-template-rows: repeat(1, auto)
  justify-items: start
  align-items: center
  position: relative

.button-icons-wr
  position: absolute
  top: 0px
  right: 0px

.barnch-column
  grid-column-start: 1/span 1
  max-width: max-content

.cron-job-column
  grid-column-start: 2/span 1
  max-width: max-content

.fire-time-column
  grid-column-start: 3/span 1
  max-width: max-content

.button-column
  grid-column-start: 4/span 1
  justify-self: right

.fire-time-wr
  grid-template-columns: 1
  grid-template-rows: 2

.pre-fire-time
  grid-row-start: 0
  grid-row-end: 1
  justify-self: start

.pre-fire-time
  grid-row-start: 1
  grid-row-end: 2
  justify-self: start

.btn-add
  align-self: flex-end

@media screen and (max-width: 992px)
  .trigger-group
    display: grid
    grid-template-columns: repeat(1, auto)
    grid-template-rows: repeat(4, auto)
    justify-items: start
  .barnch-column
    grid-column-start: 1/span 1
    border-bottom: 1px solid #dee2e6
    min-width: 100%
    padding-bottom: 8px
  .cron-job-column
    grid-column-start: 1/span 1
    border-bottom: 1px solid #dee2e6
    min-width: 100%
    padding: 8px 0
  .fire-time-column
    grid-column-start: 1/span 1
    border-bottom: 1px solid #dee2e6
    min-width: 100%
    padding: 8px 0
  .button-column
    padding-top: 8px
    grid-column-start: 1/span 1
    justify-self: center

