.trigger-wr
  padding: 10px
  border-bottom: 2px #f1f1f1 solid
  margin: 0 auto

.small-title
  margin-top: 0
  font-size: 18px
  color: #3eaaaf

input[type=checkbox]
  width: 22px
  height: 22px

select
  display: inline-block
  width: auto
  vertical-align: middle

.trigger-options
    display: flex
    flex-direction: row
    align-items: flex-start

.text-over
  font-size: 18px
  color: #666

.text
  margin-bottom: 0.3rem
  font-size: 14px
  color: #666
  font-weight: 700

.vl
  border-left: 2px solid  #666


@media screen and (max-width: 675px)
  .branch-select
    margin-top: 31px
