<div class="container-fluid">
  <div class="scroll-container">
    <div class="link-buttons">
      <button class="btn btn-sm btn-github" [disabled]="isProviderAdded(0) || githubClick"
        (click)="linkWithGithub()">
        <div class="icon">
          <i class="fa fa-github" aria-hidden="true"></i>
        </div>
        <div class="button-text" *ngIf="!(isProviderAdded(0) || githubClick) else linkedGithub">
          Link with Github
        </div>
        <ng-template #linkedGithub>
          <div class="button-text">Linked with Github</div>
        </ng-template>
      </button>
      <button class="btn btn-sm btn-google" [disabled]="isProviderAdded(1) || googleClick"
        (click)="linkWithGoogle()">
        <div class="icon">
          <i class="fa fa-google" aria-hidden="true"></i>
        </div>
        <div class="button-text" *ngIf="!(isProviderAdded(1) || googleClick) else linkedGoogle">
          Link with Github
        </div>
        <ng-template #linkedGoogle>
          <div class="button-text">Linked with Google</div>
        </ng-template>
      </button>
    </div>
    <form [formGroup]="settingsForm" (ngSubmit)="onSubmit(settingsForm.value)">
      <div class="group">
        <div class="field">
          <span>First Name</span>
        </div>
        <div class="input-area">
          <input type="text" class="form-control form-control-sm" formControlName="firstName" placeholder="Name">
          <small>Use your real name so people can recognize you</small>
          <div *ngIf="settingsForm.controls['firstName'].errors">
            <div class="error" *ngIf="settingsForm.controls['firstName'].errors.minlength">
              The minimum length is 2 characters
            </div>
            <div class="error" *ngIf="settingsForm.controls['firstName'].errors.maxlength">
              The maximum length is 30 characters
            </div>
            <div class="error" *ngIf="settingsForm.controls['firstName'].errors.pattern">
              First name must have only latin letters and can't start<br> or finish with these characters ' - ', ' . '
              and space<br>
            </div>
          </div>
        </div>
        <div class="field">
          <span>Last Name</span>
        </div>
        <div class="input-area">
          <input type="text" class="form-control form-control-sm" formControlName="lastName" placeholder="Description">
          <div *ngIf="settingsForm.controls['lastName'].errors">
            <div class="error" *ngIf="settingsForm.controls['lastName'].errors.minlength">
              The minimum length is 2 characters
            </div>
            <div class="error" *ngIf="settingsForm.controls['lastName'].errors.maxlength">
              The maximum length is 30 characters
            </div>
            <div class="error" *ngIf="settingsForm.controls['lastName'].errors.pattern">
              Last name must have only latin letters and can't start<br> or finish with these characters ' - ', ' . '
              and space<br>
            </div>
          </div>
        </div>
        <div class="field">
          <span>Upload Photo by link</span>
        </div>
        <div class="input-group mb-3">
          <input type="url" class="form-control form-control-sm upload" formControlName="avatarUrl"
            placeholder="http://avatar.link" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-sm btn-outline-secondary" (click)="upload()" type="button">Upload</button>
          </div>
        </div>
        <div class="field">
          Username
        </div>
        <div class="input-area">
          <input type="text" class="form-control form-control-sm" formControlName="username"
            placeholder="Your username">
          <div *ngIf="settingsForm.controls['username'].errors">
            <div class="error" *ngIf="settingsForm.controls['username'].errors.required">
              User name is required
            </div>
            <div class="error" *ngIf="settingsForm.controls['username'].errors.minlength">
              The minimum length is 3 characters
            </div>
            <div class="error" *ngIf="settingsForm.controls['username'].errors.maxlength">
              The maximum length is 30 characters
            </div>
            <div class="error" *ngIf="settingsForm.controls['username'].errors.pattern">
              Username must have only latin letters and can't start<br> or finish with these characters ' - ', ' . '<br>
            </div>
            <div class="error" *ngIf="settingsForm.controls['username'].errors?.isUsernameExists">
              Username has already been taken
            </div>
          </div>
        </div>
        <div class="field">
          <span>Email</span>
        </div>
        <div class="input-area">
          <input type="email" class="form-control form-control-sm" formControlName="email"
            placeholder="example@mail.com">
          <div *ngIf="settingsForm.controls['email'].errors">
            <div class="error" *ngIf="settingsForm.controls['email'].errors.required">
              Email is required
            </div>
            <div class="error" *ngIf="settingsForm.controls['email'].errors.pattern
            || settingsForm.controls['email'].errors.email
            || settingsForm.controls['email'].errors.notValid">
              Email must be like 'example12@gmail.com' and can't<br> start or finish with these characters ' - ', ' .
              '<br>
            </div>
          </div>
        </div>
        <div class="field">
          Bio
        </div>
        <div class="input-area">
          <textarea type="text" rows="3" class="form-control form-control-sm" formControlName="bio"
            placeholder="Tell us something about yourself">
               </textarea>
          <div *ngIf="settingsForm.controls['bio'].errors">
            <div class="error" *ngIf="settingsForm.controls['bio'].errors.maxlength">
              The maximum length is 300 characters
            </div>
            <div class="error" *ngIf="settingsForm.controls['bio'].errors.pattern">
              BIO must have only latin letters, digits and special<br> characters
              <br>
            </div>
          </div>
        </div>
        <div class="save-button-container">
          <button type="submit" class="btn btn-success"
            [disabled]="settingsForm.invalid || !settingsForm.dirty || isChanged">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>