.group
    display: grid
    grid-template-columns: 2
    grid-template-rows: 6

.input-area
  grid-column-start: 1
  grid-column-end: 2
  justify-self: start
  margin: 0 10px 20px


.field
  grid-column-start: 0
  grid-column-end: 1
  justify-self: end

.avatar-style
  height: 200px
  width: 200px
  opacity: 1
  display: block
  transition: .5s ease
  backface-visibility: hidden
  border-radius: 150px
  margin-left: 15%
  margin-top: 5%

.avatar-container
   position: relative
   &:hover
    img
     opacity: 0.3
    .img-text
      opacity: 1

.img-text
    transition: .5s ease
    opacity: 0
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    -ms-transform: translate(-50%, -50%)
    text-align: center
    cursor: pointer
    font-size: 24px
    color: #7f7f7f
    margin-left: 15%
input
  width: 300px

textarea
  width: 300px

small
  color: grey

.group
    display: grid
    grid-template-columns: 2
    grid-template-rows: 6

::ng-deep body, html
  height: 100%
  width: 100%
  overflow: hidden

.container
  height: 100%
  position: relative
  display: flex
  justify-content: center

.scroll-container
  width: 100%
  position: absolute
  height: calc(100% - 83px)
  overflow: auto

.input-area
  grid-column-start: 1
  grid-column-end: 2
  justify-self: start
  margin: 0 10px 20px

.field
  grid-column-start: 0
  grid-column-end: 1
  justify-self: end

.avatar-style
  height: 200px
  width: 200px
  opacity: 1
  display: block
  transition: .5s ease
  backface-visibility: hidden
  border-radius: 150px
  margin-left: 15%
  margin-top: 5%

.avatar-container
   position: relative
   &:hover
    img
     opacity: 0.3
    .img-text
      opacity: 1

.img-text
    transition: .5s ease
    opacity: 0
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    -ms-transform: translate(-50%, -50%)
    text-align: center
    cursor: pointer
    font-size: 24px
    color: #7f7f7f
    margin-left: 15%
input
  width: 300px

textarea
  width: 300px

small
  color: grey

.nickname
  font-weight: bolder

.date-since
  margin-left: 10px

.nickname .date-since
  margin-top: 10px

.with-btn
  display: flex

.upload
  margin-left: 10px
