<div class="container">
  <div class="scroll-container">
  <form [formGroup]="settingsForm">
    <div class="group">
      <div class="input-area">
      <div class="avatar-container" (click)="file.click()">
      <input hidden class="file-hide" #file accept="image/*" type="file">
      <img class="avatar avatar-style" src="{{details.avatarUrl}}"
      onerror="this.src='../../../../assets/images/Avatar-default.png'">
      <div class="img-text">
        Upload
      </div>
    </div>
    </div>
    <div class="field">
      <span>First Name</span>
    </div>
      <div class="input-area">
          <input type="text" class="form-control form-control-sm" formControlName="firstName" placeholder="Name">
          <small>Use your real name so people can recognize you</small>
      </div>
      <div class="field">
        <span>Last Name</span>
      </div>
      <div class="input-area">
          <input type="text" class="form-control form-control-sm" formControlName="lastName" placeholder="Name">
        <div *ngIf="settingsForm.controls['lastName'].errors">
          <div class="alert alert-danger"
               *ngIf="settingsForm.controls['lastName'].errors.required && settingsForm.controls['lastName'].touched">
            Last name is required
          </div>
          <div class="alert alert-danger"
               *ngIf="settingsForm.controls['lastName'].errors.minlength && settingsForm.controls['lastName'].touched">
            The minimum length is 2 characters
          </div>
          <div class="alert alert-danger"
               *ngIf="settingsForm.controls['lastName'].errors.maxlength && settingsForm.controls['lastName'].touched">
            The maximum length is 30 characters
          </div>
          <div class="alert alert-danger"
               *ngIf="settingsForm.controls['lastName'].errors.pattern && settingsForm.controls['lastName'].touched">
            Last name must have only latin letters<br>
            and can't start or finish with these<br>
            characters ' - ', ' . ' <br>
          </div>
        </div>
      </div>
      <div class="field">
        Username
      </div>
      <div class="input-area">
          <input type="text" class="form-control form-control-sm" formControlName="username" placeholder="Your username">
        <div *ngIf="settingsForm.controls['username'].errors">
          <div class="alert alert-danger"
               *ngIf="settingsForm.controls['username'].errors.minlength && settingsForm.controls['username'].touched">
            The minimum length is 3 characters
          </div>
          <div class="alert alert-danger"
               *ngIf="settingsForm.controls['username'].errors.maxlength && settingsForm.controls['username'].touched">
            The maximum length is 30 characters
          </div>
          <div class="alert alert-danger"
               *ngIf="settingsForm.controls['username'].errors.pattern && settingsForm.controls['username'].touched">
            Username must have only latin letters<br>
            and can't start or finish with these<br>
            characters ' - ', ' . ' <br>
          </div>
        </div>
      </div>
      <div class="field">
        <span>Email</span>
      </div>
      <div class="input-area">
          <input type="email" class="form-control form-control-sm" formControlName="email" placeholder="example@mail.com">
      </div>
      <div class="field">
        Location
      </div>
      <div class="input-area">
          <input type="text" class="form-control form-control-sm" formControlName="location" placeholder="Kharkiv, Ukraine">
        <div *ngIf="settingsForm.controls['location'].errors">
          <div class="alert alert-danger"
               *ngIf="settingsForm.controls['location'].errors.minlength && settingsForm.controls['location'].touched">
            The minimum length is 2 characters
          </div>
          <div class="alert alert-danger"
               *ngIf="settingsForm.controls['location'].errors.maxlength && settingsForm.controls['location'].touched">
            The maximum length is 30 characters
          </div>
          <div class="alert alert-danger"
               *ngIf="settingsForm.controls['location'].errors.pattern && settingsForm.controls['location'].touched">
            Location must have only latin letters<br>
            and can't start or finish with these<br>
            characters ' - ', ' . ' <br>
          </div>
        </div>
      </div>
      <div class="field">
        Bio
      </div>
      <div class="input-area">
          <textarea type="text" rows="3" class="form-control form-control-sm" formControlName="bio" placeholder="Tell us something about yourself">
      </textarea>
        <div *ngIf="settingsForm.controls['bio'].errors">
          <div class="alert alert-danger"
               *ngIf="settingsForm.controls['bio'].errors.maxlength && settingsForm.controls['bio'].touched">
            The maximum length is 300 characters
          </div>
          <div class="alert alert-danger"
               *ngIf="settingsForm.controls['bio'].errors.pattern && settingsForm.controls['bio'].touched">
            BIO must have only latin letters,<br>
            digits and special characters<br>
          </div>
        </div>
      </div>
    </div>
  </form>
  </div>
</div>
