.build-container
  display: flex
  flex-direction: column-reverse
  gap: 1.5rem
  font-size: 1.1rem

.switcher-wrp
  display: flex
  justify-content: flex-end
  width: 100%

.placeholder
  padding: 15px
