<app-loading-spinner *ngIf="isLoading; else loaded;" margin="170px auto" size="20px"></app-loading-spinner>
<ng-template #loaded>
  <div *ngIf="isSameUser" class="container pb-3">
    <div class="setting-container switcher-wrp">
      <div class="p-2">
        <span>Public only</span>
      </div>
      <div class="custom-control custom-switch m-2">
        <input type="checkbox" class="custom-control-input" id="public" [(ngModel)]="isPublicOnly">
        <label class="custom-control-label" for="public"></label>
      </div>
    </div>
  </div>
  <div *ngIf="buildHistories().length; else noData" class="build-container container container-fluid">
    <app-build-history-card
      *ngFor="let build of buildHistories()"
      [build]="build"
      [repository]="build.project.repository">
    </app-build-history-card>
  </div>
</ng-template>

<ng-template #noData>
  <div class="container">
    <div class="row border rounded my-3 placeholder">
      <p class="m-auto text-center">Seems like there are no {{isPublicOnly ? 'public ' : ''}}builds</p>
    </div>
  </div>
</ng-template>
