<div class="log-view" #top>
  <div class="log-header">
    <div class="buttons-left">
      <label class="btn-outline-light" ngbButtonLabel>
        <input type="checkbox" ngbButton [(ngModel)]="showLevels"> Levels
      </label>
      <label class="btn-outline-light" ngbButtonLabel>
        <input type="checkbox" ngbButton [(ngModel)]="showTimeStamps"> Timestamps
      </label>
    </div>
    <div class="buttons-right">
      <button class="btn btn-outline-light" (click)="clear()">Clear log</button>
      <button class="btn btn-outline-light" (click)="openRaw()">Raw Log</button>
    </div>
  </div>
  <div class="log-tail">
    <div class="tail-body">
      <a (click)="scrollTop(top)" title="Scroll To Top"><i class="fas fa-lg fa-arrow-circle-up"></i></a>
      <a (click)="autoscroll = !autoscroll" title="Turn Auto Scrolling {{autoscroll ? 'Off' : 'On'}}">
        <i class="fas fa-lg" [class.fa-lock]="!autoscroll" [class.fa-unlock]="autoscroll"></i>
      </a>
      <a (click)="scrollBottom(bottom)" title="Scroll To Bottom"> <i class="fas fa-lg fa-arrow-circle-down"></i></a>
    </div>
  </div>
  <div class="log-container">
    <div class="build-step" [class]="{'expandable': buildStep.value[1].length > 1, 'expanded': buildStep.value[0]}"
      *ngFor="let buildStep of buildSteps | keyvalue">
      <span class="expand-button" *ngIf="buildStep.value[1].length > 1" (click)="setExpand(buildStep.key)"></span>
      <div *ngFor="let action of buildStep.value[1]">
        <div *ngIf="action.body">
          <span class="line-number">{{action.number}}</span>
          <p>
            <span class='level' *ngIf="showLevels" [appLogLevel]="action.level">[{{action.level}}]</span>
            <span class="timestamp" *ngIf="showTimeStamps"> {{action.date | date:"medium"}}</span>
            {{action.body}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="log-footer" #bottom>
  </div>
</div>
