<app-loading-spinner *ngIf="isLoading; else loaded;" margin="170px auto" size="20px"></app-loading-spinner>

<ng-template #loaded>
  <div class="build-container" *ngIf="builds?.length; else emptyBuilds">
    <app-build-history-card
      *ngFor="let build of builds"
      [build]="build"
      [repository]="repository">
    </app-build-history-card>
  </div>
</ng-template>

<ng-template #emptyBuilds>
  <div class="container">
    <div class="no-builds-container">
      <div class="image-container">
        <img class="builders" [src]="'assets/images/Play.png'" />
      </div>
      <span class="my-3">
        It seems that you do not yet have builds for this project, you can run it at any time!
        </span>
    </div>
  </div>
</ng-template>
