*
  box-sizing: content-box

.build-container
  padding: 0
  margin: 0
  list-style: none
  display: flex
  flex-direction: column
  gap: 1.5rem
  font-size: 1.5rem

  li
    height: 10vh
    border-radius: 2px
    border: 1px solid #eaeaea
    padding: 0.2rem

    .user-commit
      display: flex
      flex-direction: column
      justify-content: space-evenly
      gap: 0.2rem
      height: 100%
      width: 20%
      float: left
      text-align: center
      border-right: 1px dashed #999

      p
        margin: 0

      a
        text-decoration: none
        cursor: pointer
        margin: 0

        &:hover
          text-decoration: underline

    .build-info
      height: 100%
      width: 75%
      float: right
      display: flex
      align-items: center
      justify-content: space-evenly
      gap: 0.5rem

      p
        margin: 0
        width: 12rem

        &:first-of-type
          width: 15rem

        &:last-of-type
          width: 15rem

@media (max-width:1000px)
  ul.build-container

    li
      height: 20vh

@media (max-width:500px)
  ul.build-container
    font-size: 1rem

    li
      height: 15vh

      div.user-commit
        padding-left: 1rem
        text-align: left
        height: 100%
        width: 25%

      a
        display: block

      div.build-info
        font-size: 1.2rem
        flex-direction: column
        align-items: flex-start
        padding-left: 0.5rem
        width: 65%

        p
          width: max-content


