*
  box-sizing: content-box


  .no-builds-container
    display: flex
    flex-direction: column
    justify-items: center
    align-items: center
    margin-top: 3%
    font-size: 1.5rem
    button
      min-width: 150px
      font-size: .9em
    span
      text-align: center
      color: #212529

  .builders
    height: 20rem

.build-container
  margin: 0
  list-style: none
  display: flex
  flex-direction: column-reverse
  gap: 1.5rem
  font-size: 1.1rem
  padding-left: 0

  li
    height: 8vh
    border-radius: 2px
    border: 1px solid #eaeaea
    padding: 0.2rem

    .user-commit
      display: flex
      flex-direction: column
      justify-content: space-evenly
      gap: 0.2rem
      height: 100%
      width: 20%
      float: left
      text-align: center
      border-right: 1px dashed #999

      p
        margin: 0

      a
        text-decoration: none
        cursor: pointer
        margin: 0
        color: #666666
        position: relative
        display: flex
        justify-content: center
        align-items: center
        .avatar
          vertical-align: middle
          max-height: 1.5rem
          max-width: 1.5rem
          width: 100%
          height: 100%
          border-radius: 50%
          margin-right: 5px

        &:hover
          text-decoration: underline

    .build-info
      height: 100%
      width: 75%
      float: right
      display: flex
      align-items: center
      justify-content: space-evenly
      gap: 0.5rem

      p
        margin: 0
        width: 12rem

        &.status

          &:hover
            text-decoration: underline
            cursor: pointer

          &:focus
            outline: none

        &:first-of-type
          width: 15rem

        &:last-of-type
          width: 15rem

@media (max-width:1000px)

  .build-container
    padding: 0

  ul.build-container

    li
      height: 12vh

@media (max-width:500px)
  ul.build-container

    li
      height: 15vh

      div.user-commit
        padding-left: 1rem
        text-align: left
        height: 100%
        width: 25%

      a
        display: block

      div.build-info
        font-size: 1.2rem
        flex-direction: column
        align-items: flex-start
        padding-left: 0.5rem
        width: 65%

        p
          width: max-content


