<div *ngIf="
  loadingProjects ;
  then loading;
  else loaded;
"></div>

<ng-template #loading>
  <app-loading-spinner size="20px"></app-loading-spinner>
</ng-template>
<ng-template #loaded>

 <!-- <div
    *ngIf="this.starredProjects.length > 0 || this.activeProjects.length > 0 || hasGroupsProjects(); else emptyProjects">-->
    <div class="container starred-container">
      <span class="my-auto title starred-title">Starred projects</span>
      <button class="btn btn-info button-create-project" title="Create new project" (click)="openCreateProjectModal()">
        <i class="fas fa-plus"></i>
      </button>
    </div>

    <div *ngIf="starredProjects?.length;
      then existStarredProjects;
      else emptyStarredProjects
      ">
    </div>
    <ng-template #existStarredProjects>
      <app-projects-display [activeProjects]="starredProjects"></app-projects-display>
    </ng-template>
    <ng-template #emptyStarredProjects>
      <div class="container">
        <div class="row border rounded my-3">
          <p class="m-auto text-center"><i class="far fa-star"></i> You can keep track of your favorite projects
            here once
            you start starring!</p>
        </div>
      </div>
    </ng-template>

    <nav>
      <ul class="list-group list-group-horizontal container">
        <li class="list-group-item" [ngClass]="{ active: tab == 'myprojects' }">
          <a (click)="tab = 'myprojects'">
            My projects
          </a>
        </li>
        <li class="list-group-item" [ngClass]="{ active: tab == 'groupsprojects' }">
          <a (click)="gotoGroupsProjects()">
            Groups' projects
          </a>
        </li>
        <li class="list-group-item" [ngClass]="{ active: tab == 'history' }">
          <a (click)="tab = 'history'">
            History
          </a>
        </li>
      </ul>
    </nav>

    <div [ngSwitch]="tab">
      <div *ngSwitchCase="'myprojects'">
        <div *ngIf="activeProjects.length > 0; else emptyActiveProjects">
          <app-projects-display [activeProjects]="activeProjects"></app-projects-display>
        </div>
        <ng-template #emptyActiveProjects>
          <div class="container">
              <div class="row border rounded my-3 placeholder">
                <p class="m-auto text-center">It seems that you don't have active projects. Maybe it's time to add
                  the first one?</p>
                <div class="col-12 button-wrapper">
                  <button class="btn btn-success" (click)="openCreateProjectModal()">
                    Add first project
                  </button>
                </div>
              </div>
          </div>
        </ng-template>
      </div>
      <div *ngSwitchCase="'groupsprojects'">
        <div *ngIf="!loadingGroupsProjects; else loadingGroupProjects;">
          <div *ngIf="hasGroupsProjects(); else emptyGroupsProjects">
            <div *ngFor="let groupProjects of groupsProjects" class="container my-3">
              <a class="group-name my-auto"
                [routerLink]="['..', 'groups', groupProjects.groupProjects.group.id]">{{groupProjects.groupProjects.group.name}}</a>
              <app-projects-display [activeProjects]="groupProjects.groupProjects.projects" [permissions]="true">
              </app-projects-display>
            </div>
          </div>
          <ng-template #emptyGroupsProjects>
            <div class="container">
              <div class="row border rounded my-3 placeholder">
                <p class="m-auto text-center">Seems like you don't participate in any group as not an owner or their
                  project list is empty</p>
              </div>
            </div>
          </ng-template>
        </div>
        <ng-template #loadingGroupProjects>
          <app-loading-spinner size="10px" position="unset"></app-loading-spinner>
        </ng-template>
      </div>
      <div *ngSwitchCase="'history'">
        <div *ngIf="hasBuild(); else notBuild">
          <app-user-build-history></app-user-build-history>
        </div>
        <ng-template #notBuild>
          <div class="container">
            <div class="row border rounded my-3 placeholder">
              <p class="m-auto text-center">You haven't builded any your projects yet!</p>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
</ng-template>
