a, p, div
  overflow: hidden

.row > p.text-center
  font-size: 1.5rem

span.title
  font-size: 2rem

.vertical-line
  border-right: 0.1rem solid grey

.row-top
  margin-top: 4%
  margin-bottom: 2%

.row-bottom
  margin-top: 2%
  margin-bottom: 4%

.fa-bars
  display: inline-block
  vertical-align: middle
  color: gray

.fa-bars:hover
  color: #17a2b8

.toggler-icon
  display: inline-block
  width: 1.5em
  height: 1.5em
  vertical-align: middle
  content: ""
  background: no-repeat center center
  background-size: 100% 100%
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")

.dropdown-toggle::after
  content: none

.dropdown-item
  padding-left: 1rem
  padding-right: 1rem
  color: #666

.dropdown-divider
  padding: 0px
  margin: 0px

.status
  &:hover
    text-decoration: underline
    cursor: pointer

  &:focus
    outline: none

.bars
  padding: 0px
  font-size: 1.5em

.no-builds
  text-align: center

.btn:focus, .btn.focus
    outline: 0
    box-shadow: none

.build-status
 min-width: 62px

.no-projects-container
  display: flex
  flex-direction: column
  justify-items: center
  align-items: center
  margin-top: 10%
  font-size: 1.5rem
  button
    height: 50px
    min-width: 150px
    font-size: .9em

.project-wr
  padding-left: 30px

.owner-wr
  display: flex
  justify-content: flex-start
  align-items: center
  .avatar-wr
    display: block
    min-width: fit-content
    .owner-avatar
      width: 26px
      height: 26px
      border-radius: 13px
  // h6
  //   margin-right: 2px

.actions
  position: relative
  display: flex
  justify-content: center
  align-items: center
  min-width: 100px !important
  div
    height: min-content

.fas.fa-star
  color: #edde3f

.star-area
  margin-top: 1%
  margin-bottom: 1%

.star-btn
  text-align: center
  width: 100%
  height: 100%
  .fas,.fa-star:hover
    color: #edde3f

.star
  margin: 6px 0px 0 10px
  font-size: 1.4rem
  overflow: visible

.h4
  color: #17a2b8
  margin: 0

.spinner-wrp
  height: 3rem
  width: 300px

.input-area
  grid-column-start: 1
  grid-column-end: 2
  justify-self: start
  margin: 0 10px 20px

.field
  grid-column-start: 0
  grid-column-end: 1
  justify-self: end

.label-wr
  width: 100%
  display: flex
  justify-content: flex-start

  span
    display: block

select
  width: 300px

.branches-loading-wrp
  height: 3rem

.group
  display: grid
  grid-template-columns: 2
  grid-template-rows: 2

.btn-wr
  width: 100%
  display: flex
  justify-content: flex-end
  align-items: center

  button
    margin: 5px

.first-exist-value
  margin-top: 7px !important

.group-name
  color: black
  font-size: 1.3rem

nav
  margin-bottom: 1rem

  .list-group-horizontal
    width: 100%
    border-bottom: 2px solid #f1f1f1
    margin-top: 15px
    .list-group-item
      padding: 5px 15px 0 15px
      display: flex
      color: #666
      justify-content: flex-start
      border-style: none
      text-decoration: none
      box-sizing: content-box
      &:hover
        a
          color: #3eaaaf
          background-color: white
          overflow: unset
          cursor: pointer

          &::after
            content: ""
            color: #3eaaaf
            display: block
            position: absolute
            bottom: -2px
            width: 100%
            height: 2px
            background-color: #3eaaaf

      a
        position: relative
        display: inline-block
        padding-bottom: 5px
        text-decoration: none
        color: #666
        overflow: unset

  .active
    background-color: white !important
    color: #3eaaaf !important
    a::after
      content: ""
      color: #3eaaaf
      display: block
      position: absolute
      bottom: -2px
      width: 100%
      height: 2px
      background-color: #3eaaaf

.hov-bord-bottom:hover
  border-bottom: 2px solid black
  text-decoration: none

@media screen and (max-width: 400px)
  a
    font-size: 13px


/* MEDIA QUERIES */

@media screen and (max-width: 675px)
  .field
    grid-column-start: 1
    grid-column-end: 2
    justify-self: start
    margin-left: calc((100% - 300px)/2)
  .input-area
    justify-self: center
    margin-left: 0
    margin-right: 0
  .save-button-container
    justify-self: center
  .input-group
    justify-self: center
    margin-left: 0
    margin-right: 0

@media only screen and (min-width: 767px)
  .project-wr
    padding-left: 20px
  .row-bottom:after
    content: ""
    display: block
    position: absolute
    top: 0
    right: 0
    width: 2em
    height: 100%
    background: linear-gradient(-90deg, #fff 30%, rgba(255, 255, 255, 0) 100%)

@media (min-width: 992px)
  .project-wr
    padding-left: 25px
  .row
    min-height: 5rem

@media (max-width: 991px)
  .project-wr
    padding-left: 20px
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-12
    padding-left: 0 !important
    padding-right: 0 !important
  .row
    min-height: 4rem
  .vertical-line
    margin-right: 3px
    margin-left: -3px
  .row > p.text-center
    font-size: 1rem

@media (max-width: 767px)
  .actions
    position: absolute
    right: 0
    height: 100%
    min-width: 25% !important
  .project-wr
    padding-left: 5px
  .star-area
    margin-left: 1% !important
    margin-right: 2% !important
    min-width: 40px !important
  .trigger-area
    position: absolute
    top: 25%
    right: 3%
  span.no-build-history
    display: inline-block
    margin-left: 2%
    margin-bottom: 2%
    margin-top: 2%
  span.title
    font-size: 1.5rem
  .container
    min-width: 320px
  .row
    position: relative
    margin-left: 1px
    margin-right: 1px
    min-height: 0
  .row-top
    margin-top: 0
    margin-bottom: 0
  .row-bottom
    margin-top: 0
    margin-bottom: 0
  .vertical-line
    border: 0
  .drop-down-area
    position: absolute
    top: 0
    right: 5%
    width: 10%
  .row-cols-sm-2, .row-cols-2
    padding-left: 5px !important

@media (max-width: 568px)
  .trigger-area
    right: 1%
  .star-btn
    padding: 0
  .star
    margin: 3px 0 0 2px
    font-size: 18px !important
  .fa-bars
    font-size: 18px !important
  .btn
    font-size: 1.5rem
  .btn, span, .branch-select
    font-size: 0.8rem
  .not-exist-value
    font-size: 14px

@media (max-width:368px)
  .btn, span, .branch-select
    font-size: 0.6rem








