<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <button (click)="isMenuCollapsed = !isMenuCollapsed" class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><img class="logo" src="../../../assets/images/logo.png" /></a>
    <div class="d-flex order-lg-1 ml-auto pr-2">
      <button type="button" class="btn btn-success" [routerLink]="'/signin'">
        Sign in
      </button>
    </div>
    <div class="collapse navbar-collaps" id="navbarSupportedContent" [ngbCollapse]="isMenuCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#features">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#flow">Flow</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['help']">Help</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
