
.main 
    display: flex
    justify-content: center
    align-items: center
    margin-top: 150px
    margin-left: auto
    margin-right: auto

    position: relative

.content
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
    border-radius: 5px
    padding-top: 20px
    padding-left: 40px
    padding-right: 40px
    padding-bottom: 60px
    z-index: 1000
    background-color: white

.content > h6
    font-weight: bold
    font-size: 70px
    margin-bottom: 25px

.content button
    margin: 0 200px


.ember-view
    position: absolute
    z-index: -1
    top: -30px
    left: -30px



.inner 
    padding: 10px 10px 20px 10px
    max-width: 1024px
    margin: auto
.intro
    margin-bottom: 35px
.intro p,
.content > p
    margin-bottom: 0
    font-size: 20px

.sign-up-card .content
    display: flex
    flex-direction: column
    justify-content: center
    text-align: center

.content .btn
    display: flex
    flex-direction: row
    padding: 3px 10px
    border: 1px solid black
    align-items: center
    border-radius: 10px
    margin-bottom: 10px

.content .btn:hover
    background-color: #eff0f4


.btn .button-text p
    margin-left: 20px
    font-size: 15px
    text-transform: uppercase
    font-weight: bold
    text-align: center
    margin-bottom: 0

.btn .icon
    padding-right: 10px
    border-right: 1px solid black
    font-size: 25px
  

.content > p > a
    color: black
    text-decoration: none
    border-bottom: 1px solid black
    opacity: 0.7
    cursor: pointer

.content > p > a:hover
    opacity: 1