<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="decline()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
 <!-- <img src="#">-->
  <h3>{{message}}</h3>
  <h5>{{text}}</h5>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
  <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
</div>
