<div class="container content">
  <div class="card chat-container">
    <div class="card-header">Members in chat: {{membersCount || 0 }}</div>
    <div class="card-body height3">
      <ul *ngFor="let msg of messages" class="chat-list">
        <li [ngClass]="{ 'in': msg.senderId != user.id, 'out': msg.senderId == user.id }">
          <div class="chat-img">
            <img alt="Avtar" title="Open {{msg.sender?.username}} profile" [src]="msg.sender.avatarUrl | defaultLogo" [routerLink]="'/portal/user/' + msg.senderId">
          </div>
          <div class="chat-body">
            <div class="chat-message">
              <h5 title="Open {{msg.sender?.username}} profile" *ngIf="msg.senderId != user.id" [routerLink]="'/portal/user/' + msg.senderId">{{msg.sender.username}}
              </h5>
              <p>{{msg.text}} </p>
              <small title="Message sent at {{msg.createdAt | date:'medium'}}">{{msg.createdAt | date:'shortTime'}}</small>
            </div>
          </div>
        </li>
      </ul>
      <div class="chat-footer" #bottom>
      </div>
    </div>
    <div class="input-group">
      <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." (keydown.enter)="sendMessage()" [(ngModel)]="textOfMessage" />
      <div class="input-group-append">
        <button class="btn btn-sm btn-outline-secondary" [disabled]="!textOfMessage" type="button" (click)="sendMessage()"> Send</button>
      </div>
    </div>
  </div>
</div>
