.chat 
	list-style: none 
	margin: 0 
	padding: 0 
	li 
		margin-bottom: 10px 
		padding-bottom: 5px 
		border-bottom: 1px dotted #B3A9A9 
		&.left 
			.chat-body 
				margin-left: 60px 
		&.right 
			.chat-body 
				margin-right: 60px 
		.chat-body 
			p 
				margin: 0 
				color: #777777 
.panel .slidedown .glyphicon, .chat .glyphicon 
	margin-right: 5px 
.panel-body 
	overflow-y: scroll 
	height: 250px 

