<div class="container content">
    <div class="card">
        <div class="card-header">Members in chat: {{membersCount ? membersCount : 0 }}</div>
        <div class="card-body height3">
            <ul *ngFor="let msg of messages" class="chat-list">
                <li [ngClass]="{
                    'in': msg.senderId != user.id,
                    'out': msg.senderId == user.id
                }">
                    <div class="chat-img">
                        <img alt="Avtar" src="{{msg.sender.avatarUrl}}" [routerLink]="'/portal/user/' + msg.senderId">
                    </div>
                    <div class="chat-body">
                        <div class="chat-message">
                            <h5 *ngIf="msg.senderId != user.id" [routerLink]="'/portal/user/' + msg.senderId">{{msg.sender.username}}</h5>
                            <p>{{msg.text}} </p>
                            <small>{{msg.createdAt | date:'shortTime'}}</small>
                        </div>
                    </div>
                </li>
               
            </ul>
        </div>
            <div class="input-group">
                <input id="btn-input" type="text" class="form-control input-sm"
                    placeholder="Type your message here..." (keydown.enter)="sendMessage()"
                     [(ngModel)]="textOfMessage" />
                <div class="input-group-append">
                    <button class="btn btn-sm btn-outline-secondary" type="button" (click)="sendMessage()">
                        Send</button>
                </div>
            </div>