<div class="container group-container">
  <div class="group-header">
    <div class="group-title">
      <span class="icon">
        <i class="fas fa-users"></i>
      </span>
      <h1 class="group-name">
        /
        <a [routerLink]="">{{ group.name }} </a>
      </h1>
    </div>
    <div class="access-icon">
      <i *ngIf="!group.isPublic" class="fas fa-lock"></i>
      <i *ngIf="group.isPublic" class="fas fa-globe"></i>
    </div>
  </div>
  <div class="group-main">
    <app-tabs [tabRoutes]="tabRoutes"></app-tabs>
    <div class="project-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>