<div class="container group-container">
  <div class="group-header">
    <div class="group-title">
      <span class="icon" [routerLink]="['/portal/groups']">
        <i class="fas fa-users"></i>
      </span>
      <h1 class="group-name">
        <a [routerLink]="">{{ group?.name }}</a>
      </h1>
    </div>
    <div class="access-icon">
      <i *ngIf="group.isPublic;else elseBlock" class="fas fa-globe"></i>
      <ng-template #elseBlock><i class="fas fa-lock"></i></ng-template>
    </div>
  </div>
  <div class="group-main">
    <app-tabs [tabRoutes]="tabRoutes"></app-tabs>
    <div class="project-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
