<div class="container form-wr">
  <form [formGroup]="credentialsForm" (submit)="saveCredentials()" >
    <div class="header">
      <h4>Set up your Github credentials</h4>
    </div>
    <div class="form-control-wr">
      <div class="input-wr">
        <div class="label-wr">
          <label class="required-field">Username</label>
        </div>
        <input type="text" class="form-control form-control-sm" required autocomplete="off"
        formControlName="username"/>
      </div>
      <div class="error" [hidden]="!credentialsForm.get('username').errors?.required || credentialsForm.get('username').untouched">
        Username is required
      </div>
    </div>
    <div class="form-control-wr">
      <div class="input-wr">
        <div class="label-wr">
          <label class="required-field">Password</label>
        </div>
        <input type="password" class="form-control form-control-sm" required autocomplete="off"
        formControlName="password" placeholder="••••••••••"/>
      </div>
      <div class="error" [hidden]="!credentialsForm.get('password').errors?.required || credentialsForm.get('password').untouched">
        Password is required
      </div>
    </div>
    <div class="error" [hidden]="!credentialsForm.errors?.userNotExist || credentialsForm.untouched">
      Your username and(or) password is not valid
    </div>
    <div class="btn-wr">
      <button class="btn btn-success" [disabled]="credentialsForm.invalid || credentialsForm.pending">Set up</button>
    </div>
  </form>
</div>
