<div class="text-content container">
  <h1>Set up your Github credentials to enable ability to create projects from Github repository.<br>
    Navigate to the Dashboard to explore creating a new project from repository!</h1>
</div>
<div class="container form-wr">
  <form [formGroup]="tokenForm" (submit)="saveCredentials()" >
    <div class="form-control-wr">
      <div class="input-wr">
        <div class="label-wr">
          <label class="required-field">Access token</label>
        </div>
        <input type="text" class="form-control form-control-sm" required autocomplete="off"
        formControlName="token"/>
      </div>
      <div class="error" [hidden]="!tokenForm.get('token').errors?.required || tokenForm.get('token').untouched">
        Access token is required
      </div>
    </div>
    <div class="error" [hidden]="!tokenForm.errors?.invalidToken || tokenForm.untouched">
      {{tokenForm.errors?.invalidToken.message}}
    </div>
    <div class="btn-wr">
      <button class="btn btn-success" [disabled]="tokenForm.invalid || tokenForm.pending">Set up</button>
    </div>
  </form>
</div>
