<div class="text-content container">
  <h1>Set up your Github credentials to enable ability to create projects from Github repository.<br>
    Navigate to the Dashboard to explore creating a new project from repository!</h1>
</div>
<div class="container form-wr">
  <form [formGroup]="tokenForm" (submit)="saveCredentials()" >
    <div class="form-control-wr">
      <div class="input-wr">
        <div class="label-wr">
          <label class="required-field">Access token</label>
        </div>
        <div class="input-group">
          <input type="text" class="form-control form-control-sm" required autocomplete="off"
        formControlName="token"/>
          <div class="input-group-append">
            <button class="btn btn-sm btn-outline-secondary" [disabled]="tokenForm.invalid || tokenForm.pending">Set up</button>
          </div>
        </div>
      </div>
      <div class="error" [hidden]="!tokenForm.get('token').errors?.required || tokenForm.get('token').untouched">
        Access token is required
      </div>
    </div>
    <div class="error" [hidden]="!tokenForm.errors?.invalidToken || tokenForm.untouched">
      {{tokenForm.errors?.invalidToken.message}}
    </div>
  </form>
  <div class="divider"></div>
  <ol>
    <li>
      <p>Learn at <a href="https://docs.github.com/en/github/authenticating-to-github/creating-a-personal-access-token" target="_blank">this</a>
         tutorial how to generate personal access token</p>
    </li>
    <li>
      <p>Set up <strong>read:user</strong>, <strong>repo</strong>, <strong>write:repo_hook</strong> scopes</p>
    </li>
  </ol>
</div>
