.group
  display: grid
  grid-template-columns: 2
  grid-template-rows: 6
  margin-bottom: 30px

.input-area
  grid-column-start: 1
  grid-column-end: 2
  justify-self: start
  margin: 0 10px 20px

input
  width: 300px

textarea
  width: 300px

.field
  grid-column-start: 0
  grid-column-end: 1
  justify-self: end

.label-rating
  align-self: center

.container-fluid
  width: 100%
  display: flex
  flex-direction: column
  justify-content: center
  .header-main
    text-align: center
    color: #666
    padding: 40px 0px
    .first-message
      font-family: "Source Sans Pro", Helvetica, sans-serif
      font-weight: 100
      font-size: 34px
      margin-bottom: 35px
    .second-message
      color: #666
      font-family: "Source Sans Pro", Helvetica, sans-serif
      font-weight: 100
      font-size: 24px

.save-button-container
  grid-column-start: 1
  grid-column-end: 2
  width: 300px
  margin: 0 10px
  padding: 15px
  display: flex
  justify-content: center
  button
    width: 100px

.form-control.ng-touched.ng-invalid
  border: solid red 1px

.error
  color: red
  font-size: .75em

// style for gg bar
.star
  font-size: 1.5rem
  color: #b0c4de

.filled
  color: #fff285

.rating-container
  width: 300px !important
  margin-left: 10px
  grid-column-start: 1
  grid-column-end: 2
  &:focus
    outline: none


@media screen and (max-width: 700px)
  .field
    grid-column-start: 1
    grid-column-end: 2
    justify-self: start
    margin-left: calc((100% - 300px)/2)
  input
    width: 300px
  textarea
    width: 300px
    justify-self: center
    margin-left: 0
    margin-right: 0
  .input-area
    justify-self: center
    margin-left: 0
    margin-right: 0
  .save-button-container
    width: 300px
    justify-self: center
  .input-group
    justify-self: center
    margin-left: 0
  .rating-container
    justify-self: center
    margin-left: 0
  .header-main
    padding: 30px 0px !important
    .first-message
      font-size: 25px !important
      margin-bottom: 24px !important
    .second-message
      font-size: 18px !important
