.group
  display: grid
  grid-template-columns: 2
  grid-template-rows: 6

.input-area
  grid-column-start: 1
  grid-column-end: 2
  justify-self: start
  margin: 0 10px 20px

input
  width: 400px

textarea
  width: 400px

.field
  grid-column-start: 0
  grid-column-end: 1
  justify-self: end

.container
  display: flex
  justify-content: center
  .header-main
    text-align: center
    color: #3eaaaf
    padding: 50px 0px
    .first-message
      font-family: "Source Sans Pro", Helvetica, sans-serif
      font-weight: 100
      font-size: 45px
      margin-bottom: 60px
    .second-message
      font-family: "Source Sans Pro", Helvetica, sans-serif
      font-weight: 100
      font-size: 35px

.save-button-container
  grid-column-start: 1
  grid-column-end: 2
  width: 400px
  margin: 0 10px
  padding-bottom: 25px
  display: flex
  justify-content: center
  button
    width: 100px

.form-control.ng-touched.ng-invalid
  border: solid red 1px

.error
  color: red
  font-size: .75em

// style for rating bar
.star
  font-size: 1.5rem
  color: #b0c4de

.filled
  color: #fff285

.rating-container
  margin-left: 15px
  grid-column-start: 1
  grid-column-end: 2
  &:focus
    outline: none

span
  grid-column-start: 0
  grid-column-end: 1
  justify-self: end
  align-self: center

