@import ../../work-space/help/help.component

.team
    display: flex
    flex-wrap: wrap
    justify-content: center

.person 
    text-align: center
    flex: 0 1 300px
    margin: 20px

.person img
    max-width: 300px
    border-radius: 150px
    padding-bottom: 10px

.header-main-sp
    width: 100%

.person img:hover
    -webkit-transition-duration: 400ms
    -webkit-transform: scale(1.04)
    -ms-transform: scale(1.04)
    transform: scale(1.04)

footer
  .container
    display: flex
    justify-content: space-between
    align-items: center
    img
      width: 115px
    span
      color: #707070
      font-weight: 500