<div class="container-fluid">
    <div class="header-main">
        <h2 class="first-message">Hi! Let's get acquainted!</h2>
        <h2 class="second-message">We are a team full of enthusiasm and creativity and our dream is <br>
            to make complex things easier.</h2>
    </div>
    <div class="header-main">
        <h2 class="first-message">Meet our developers</h2>
    </div>
    <div class="team">
        <div class="person">
            <img src="../../../../assets/Team/Roman_kuk.jpg" alt="">
            <h4>Roman Kuk</h4>
        </div>
        <div class="person">
            <img src="../../../../assets/Team/Yevhen_Borodaikevych.jpg" alt="">
            <h4>Yevhen Borodaikevych</h4>
        </div>
        <div class="person">
            <img src="../../../../assets/Team/Nazar.png" alt="">
            <h4>Nazar Kotsun</h4>
        </div>
    </div>
    <div class="team">
        <div class="person">
            <img src="../../../../assets/Team/Anton.jpg" alt="">
            <h4>Anton Matsyshyn</h4>
        </div>
        <div class="person">
            <img src="../../../../assets/Team/Maxim.jpg" alt="">
            <h4>Maksym Filypchuk</h4>
        </div>
        <div class="team">
            <div class="person">
                <img src="../../../../assets/Team/Yurii.jpg" alt="">
                <h4>Yurii Palaida</h4>
            </div>
            <div class="person">
                <img src="../../../../assets/Team/Dima.png" alt="">
                <h4>Dmytro Yermolenko</h4>
            </div>
        </div>
        <div>
      <div class="header-main header-main-sp">
            <h2 class="first-message">Awesome QA Team</h2>
        </div>
        
        <div class="team">
            
            <div class="person">
                <img src="../../../../assets/Team/QA/Iryna.jpg" alt="">
                <h4>Iryna Okun</h4>
            </div>
            <div class="person">
                <img src="../../../../assets/Team/QA/Lubov.jpg" alt="">
                <h4>Lubov Parubets</h4>
            </div>
            <div class="person">
                <img src="../../../../assets/Team/QA/Anastasia.jpg" alt="">
                <h4>Anastasia Averkova</h4>
            </div>
        </div>
        <div class="header-main header-main-sp">
            <h2 class="first-message">CEO & CTO</h2>
        </div>
        <div class="team">
            
            <div class="person">
                <img src="../../../../assets/Team/Coaches/Vova.jpg" alt="">
                <h4>Volodymir Bilyk</h4>
            </div>
            <div class="person">
                <img src="../../../../assets/Team/Coaches/Potapy4.jpg" alt="">
                <h4>Nikita Potapenko</h4>
            </div>
        </div>
        </div>
        </div>
        </div>
        <footer class="footer mt-auto py-3 text-center bg-light">
            <div class="container">
              <img src="../../../../assets/images/logo.png" alt="logo">
              <span class="text-muted">Powered by Binary Studio Academy</span>
            </div>
          </footer>