// Background

.notifications-background
  width: 100vw
  height: 100vh
  position: fixed
  top: 0
  left: 0
  z-index: 1010
// Full block

.notifications-block
  color: rgb(0, 0, 0)
  background-color: rgb(245,245,245)
  border: 1px solid rgb(211,211,211)
  position: absolute
  right: -200%
  top: 185%
  width: 500px
  max-height: 500px
  -webkit-box-shadow: -5px 5px 10px 0px rgba(156,156,156,0.2)
  -moz-box-shadow: -5px 5px 10px 0px rgba(156,156,156,0.2)
  box-shadow: -5px 5px 10px 0px rgba(156,156,156,0.2)
  z-index: 1011

// Notifications block header and icons

.notifications-header
  padding: 5px 0
  text-align: center
  background-color: #5796db
  color: white
  margin: 0
  font-size: 18px

.isNotRead
  background-color: white

.mark-all-as-read-icon
  height: 1em
  width: 1em
  position: absolute
  top: 0.5em
  left: 5%
  color: white

  &:hover
    color: black

.settings-icon
  height: 0.8em
  width: 0.8em
  position: absolute
  top: 0.5em
  right: 5%
  color: white

  &:hover
    color: black


// Notifications list

.all-notifications
  display: flex
  flex-direction: column-reverse
  gap: 0.5rem
  max-height: 430px
  overflow-y: auto
  overflow-x: hidden
  padding: 1rem 0.3rem
  scroll-behavior: smooth
  margin: 0 20px

.no-notifications
  padding: auto
  margin-bottom: 0.5em
  text-align: center
  font-size: 1em

.notifications-footer
  padding: 5px 0
  color: #5796db
  margin: 0
  font-size:12px
  display: flex
  justify-content: space-around

  span:hover
    cursor: pointer

@media (max-width: 750px)
  .notifications-block
    width: 400px

.arrow
  font-size: 2.2em
  z-index: 1012
  position: absolute
  color: #5796db
  margin-left: .37rem


@media (max-width: 500px)
  .notifications-block
    width: 265px
    min-height: 265px
