<div class="notifications-background" (click)="toggle()">
</div>
<div class="notifications-block">
  <a title="Mark all as read" (click)="clearAll()"><svg viewBox="0 0 16 16"
      class="mark-all-as-read-icon bi bi-check-all" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd"
        d="M8.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992a.252.252 0 0 1 .02-.022zm-.92 5.14l.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486-.943 1.179z" />
    </svg></a>
  <p class="notifications-header">Notifications</p>
  <a title="Settings" [routerLink]="['user/notificationsettings']" (click)="toggle()">
    <i class="fas fa-cog settings-icon"></i>
  </a>

  <div class="all-notifications">
    <div *ngIf="notifications?.length==0" class="no-notifications">
      There are no notifications
    </div>
    <ng-container *ngFor="let notification of cashedNotifications">
      <div *ngIf="notification.isRead == false || showRead" class="notification" [ngClass]="{
        'isNotRead': !notification.isRead,
        'build-failed text-danger': notification.type == NotificationType.buildFailed,
        'build-success text-success': notification.type == NotificationType.buildSuccess
        }">
        <div class="notification-type">
          <div class="notification-type-icon">
            <i class="fas" [ngClass]="{
            'fa-exclamation-triangle text-danger': notification.type == NotificationType.buildFailed,
            'fa-check text-success': notification.type == NotificationType.buildSuccess
            }">&nbsp;
            </i></div>
        </div>
        <div class="notification-body">
          <p>{{ notification.message }}</p>
          <span class="notification-time">{{ notification.date | date: 'medium' }}</span>
        </div>
        <div *ngIf="!notification.isRead" title="Mark as read" class="notification-read text-secondary"
          (click)="clearOne(notification)">
          <i class="far fa-check-circle"></i>
        </div>
      </div>
    </ng-container>
  </div>
  <div *ngIf="showAllNotifications; else elseShowLast" class="notifications-footer">
    <span class="mr-2" (click)="showLast()">show only last notifications</span>
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="customSwitch1" [(ngModel)]="showRead">
      <label class="custom-control-label" for="customSwitch1">Show read</label>
    </div>
  </div>
  <ng-template #elseShowLast>
    <div class="notifications-footer">
      <span (click)="showAll()">show all notifications</span>
    </div>
  </ng-template>
</div>
