<div class="modal-header">
  <h3>Copy project</h3>
  <div (click)="closeForm()">
    <i id="cross" class="fas fa-times" ></i>
  </div>
</div>
<div class="modal-body">
  <form [formGroup]="copyForm" *ngIf="copyForm" (ngSubmit)="save()">
    <div class="group">
      <div class="field">
        <div class="label-wr">
          <span class="required-field">Project name</span>
        </div>
      </div>
      <div class="input-area">
        <input type="text" class="form-control form-control-sm" formControlName="name" required autocomplete="off"
          placeholder="Project name" />
        <app-loading-spinner position="relative" margin="0" top="-17px" left="92%" size="3px"
          *ngIf="copyForm.controls['name'].status === 'PENDING'">
        </app-loading-spinner>
        <div class="error"
          [hidden]="copyForm.controls['name'].valid && copyForm.controls['name'].untouched || !copyForm.controls['name'].errors?.required">
          Name is required
        </div>
        <div class="error" *ngIf="copyForm.controls['name'].errors?.isProjectNameTaken">
          Project with name '{{copyForm.get('name').value}}' alredy exist
        </div>
      </div>
      <div class="field">
        <div class="label-wr">
          <span>Description</span>
        </div>
      </div>
      <div class="input-area">
        <textarea type="text" rows="3" class="form-control form-control-sm" formControlName="description"
          placeholder="Description">
                        </textarea>
      </div>
      <div class="field">
        <div class="label-wr">
          <span>Visibility level</span>
        </div>
      </div>
      <div class="input-area">
        <div class="form-check">
          <input class="form-check-input" type="radio" formControlName="isPublic"
                 id="privateLevel" value="false">
          <label class="form-check-label" for="privateLevel">
            <div class="icon">
              <i class="fas fa-lock"></i>
            </div>
            <div class="option-details">
              <div class="option-title column">Private</div>
              <div class="option-description column">
                The project can only be available by you.
              </div>
            </div>
          </label>
        </div>
      </div>
      <div class="input-area">
        <div class="form-check">
          <input class="form-check-input" type="radio" formControlName="isPublic" id="publicLevel"
                 value="true">
          <label class="form-check-label" for="publicLevel">
            <div class="icon">
              <i class="fas fa-globe"></i>
            </div>
            <div class="option-details">
              <div class="option-title column">Public</div>
              <div class="option-description column">
                The project can be viewed by all the users<br>in system.
              </div>
            </div>
          </label>
        </div>
      </div>
    </div>
    <div class="btn-wp">
      <button type="submit" [ngStyle]="{'width': isShowSpinner ? '6rem' : '4rem' }" class="btn btn-success" [disabled]="copyForm.invalid">Copy
        <span *ngIf="isShowSpinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </button>
      <button type="button" class="btn btn-warning" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>
