<div class="container project-list">
  <div class="border rounded project-wr" *ngFor="let project of activeProjects">
    <div class="project-info mobile-wrp">
      <h5 class="text-overflow project-name"><a class="text-dark" [routerLink]="['/portal/projects', project?.id, 'current']">{{project.name}}</a></h5>
      <div class="owner-wr">
        <a class="avatar-wr" [routerLink]="'/portal/user'">
          <img [src]="project.owner.avatarUrl" onerror="this.src='../../../../assets/images/Avatar-default.png'" alt="Avatar" class="owner-avatar">
        </a>
        <a class="owner-name text-overflow" [routerLink]="'/portal/user'">{{project?.owner.username}}</a>
      </div>
    </div>

    <div class="hint mobile-wrp" *ngIf="!project.lastBuildHistory">
      There are no builds for this project yet
    </div>

    <div *ngIf="project.lastBuildHistory" class="build-columns-container mobile-wrp">
      <div class="build-column-wrp">
        <div class="text-muted">
          <small>Branch</small>
        </div>
        <div class="text-dark external-build-url">
          <a target="_blank"
            *ngIf="project.lastBuildHistory.branchHash; else noLink"
            href="{{project.repository?.url}}/tree/{{project.lastBuildHistory.branchHash}}">{{project.lastBuildHistory.branchHash}}
            <i class="fas fa-external-link-alt external-icon-url"></i>
          </a>
        </div>
      </div>
      <div class="build-column-wrp">
        <div class="text-muted">
          <small>Last build</small>
        </div>
        <div class="font-weight-bold build-status">
          <a
            class="status"
            [ngClass]="{'status-blink': project.lastBuildHistory.buildStatus == 5}"
            [routerLink]="['/portal/projects', project.id, 'history', project.lastBuildHistory.id]"
            [appBuildHistoryStatus]="project.lastBuildHistory.buildStatus">
            <i class="fas fa-hammer"></i> #{{project.lastBuildHistory.number}}
            {{project.lastBuildHistory.buildStatus | buildStatus}}
          </a>
        </div>
      </div>
      <div class="build-column-wrp">
        <div class="text-muted">
          <small>Commit</small>
        </div>
        <div class="text-dark ">
          <div class="text-dark external-build-url">
            <a target="_blank"
              *ngIf="project.lastBuildHistory.commitHash; else noLink"
              href="{{project.repository?.url}}/tree/{{project.lastBuildHistory.commitHash}}">{{getCommit(project.lastBuildHistory)}}
              <i class="fas fa-external-link-alt external-icon-url"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="build-column-wrp">
        <div class="text-muted">
          <small>Finished</small>
        </div>
        <div class="text-dark external-build-url">
          {{ project.lastBuildHistory.buildAt | dateAgo }}
        </div>
      </div>
    </div>

    <div class="actions">
      <div>
        <ng-template #popContent>
          <ng-template #branchSelectModal let-modal>
            <div class="modal-header">
              <h4>Run build</h4>
              <div (click)="modal.dismiss()">
                <i id="cross" class="fas fa-times"></i>
              </div>
            </div>
            <div class="modal-body branch-modal">
              <div class="group">
                <div class="field">
                  <div class="label-wr">
                    <span>Select a branch:</span>
                  </div>
                </div>
                <div class="input-area" *ngIf="!loadingSelectedProjectBranches else loadingBranches">
                  <select class="form-control form-control-sm branch-select" [(ngModel)]="selectedProjectBranch">
                    <option *ngFor="let branch of selectedProjectBranches" [ngValue]='branch.name'>
                      {{branch.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="btn-wr">
                <button class="btn btn-success" [disabled]="!selectedProjectBranch"
                  (click)="triggerBuild(project)">Select</button>
                <button class="btn btn-warning" (click)="closeModal()">
                  Cancel
                </button>
              </div>
            </div>

            <ng-template #loadingBranches>
              <div class="spinner-wrp">
                <app-loading-spinner position="absolute" margin="0" size="4px">
                </app-loading-spinner>
              </div>
            </ng-template>
          </ng-template>

          <button *ngIf="!permissions || permissions.canBuild" class="btn btn-success dropdown-item"
            (click)="openBranchSelectionModal(branchSelectModal, project.id)"><i class="fas fa-play-circle"></i>
            Run</button>
          <button *ngIf="!permissions || permissions.canConfig" class="btn dropdown-item"
            [routerLink]="['/portal/projects', project?.id, 'settings']"><i class="fas fa-cog"></i> Settings</button>
          <button *ngIf="!permissions" class="btn dropdown-item" (click)="copyProject(project.id)"><i
              class="far fa-copy"></i>
            Copy</button>
          <div class="dropdown-divider"></div>
          <button *ngIf="!permissions || permissions.canDelete" class="btn btn-danger dropdown-item"
            (click)="deleteProject(project.id)">
            <i class="far fa-trash-alt"></i> Delete</button>
        </ng-template>
        <button *ngIf="!permissions || permissions.canBuild" type="button" class="btn bars project-btn" container="body"
          placement="top" [ngbPopover]="popContent">
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <div>
        <button *ngIf="!permissions" class="btn star-btn project-btn" aria-pressed="false" title="Star this project"
          (click)="changeFavoriteStateOfProject(project)">
          <i *ngIf="!permissions && !project.isFavorite" class="far fa-star star"></i>
          <i *ngIf="!permissions && project.isFavorite" class="fas fa-lg fa-star star"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #noLink>
  <span> — </span>
</ng-template>
