<div *ngIf="isLoading; then loading; else loaded;"></div>

<ng-template #loading>
  <app-loading-spinner margin="170px auto" size="20px"></app-loading-spinner>
</ng-template>

<ng-template #loaded>

  <div *ngIf="isSameUser" class="container line-bottom pb-3">
    <div class="setting-container enable-disable-all-wr">
      <div class="description p-2">
        <span>Public only</span>
      </div>
      <div class="custom-control custom-switch  m-2">
        <input type="checkbox" class="custom-control-input" id="public" [(ngModel)]="isPublicOnly">
        <label class="custom-control-label" for="public"></label>
      </div>
    </div>
  </div>

  <ul class="build-container container container-fluid">
    <li *ngFor="let build of buildHistories()" [appBuildHistoryStatusOutline]="build.buildStatus">
      <div class='user-commit'>
        <a [routerLink]="'/portal/user/' + build.performer.id">
          <img [src]="build.performer.avatarUrl" onerror="this.src='../../../../assets/images/Avatar-default.png'"
            alt="Avatar" class="avatar" /><span>{{build.performer.username}}</span></a>
        <p><i class="fas fa-code"></i> {{ getCommit(build) }}</p>
        <a [routerLink]="'/portal/projects/' + build.project.id">
         <span><i class="fas fa-book"></i> {{ build.project.name }}</span></a>
      </div>
      <div class="build-info">
        <p class="status" [routerLink]="build.id" [appBuildHistoryStatus]="build.buildStatus"><i
            class="fas fa-hammer"></i> #{{build.number}} {{build.buildStatus | buildStatus}}</p>
        <p class="build-time"><i class="far fa-clock"></i> {{build.duration | timespan}}</p>
        <p class="start-time" title="Finished {{build.buildAt | date:'medium'}}"><i class="far fa-calendar-alt"></i>
          {{build.buildAt | dateAgo}}</p>
      </div>
    </li>
  </ul>
</ng-template>
