a, p, div
  overflow: hidden

a
  padding-left: 5%

.row > p.text-center
  font-size: 1.5rem

span.title
  font-size: 2rem

.vertical-line
  border-right: 0.1rem solid grey

.row-top
  margin-top: 4%
  margin-bottom: 2%

.row-bottom
  margin-top: 2%
  margin-bottom: 4%

.user-access-role
    display: inline-block
    color: #666
    font-size: 0.75rem
    line-height: 1rem
    padding: 0 0.35rem
    border: 1px solid #dbdbdb
    border-radius: 1rem
    margin: 0px

.dropdown-divider
  padding: 0px
  margin: 0px

.fa-bars
  display: inline-block
  height: 1.5em
  vertical-align: middle
  color: gray
  padding-top: 5px

.fa-bars:hover
  color: #17a2b8

.bars
  padding: 0px
  font-size: 1.5em

.btn:focus, .btn.focus
    outline: 0
    box-shadow: none

.dropdown-item
  padding-left: 1rem
  padding-right: 1rem
  color: #666


.fas, .far
  color: gray

.center
  text-align: center

.no-groups-container
  display: flex
  flex-direction: column
  justify-items: center
  align-items: center
  margin-top: 10%
  font-size: 1.5rem
  button
    height: 50px
    min-width: 150px
    font-size: .9em

.builders
  height: 20rem

.my-3
  display: flex
  position: relative

.btn:focus, .btn.focus
    outline: 0
    box-shadow: none

i 
  cursor: pointer

span
  margin-left: .5rem

.ml-auto
  margin-top: auto
  .fas
    color: white



.for-click
  cursor: pointer

@media (max-width: 991px)
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-12
    margin: 0 !important
  .text-dark
    margin-top: 0.5rem !important

@media (max-width: 767px)
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-12
    margin: 0 !important
  .container
    font-size: 0.75rem
  .text-dark
    padding-left: 0 !important
    margin-top: 0.5rem !important

@media (max-width:568px)
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-12
    margin: 0 !important
  .small, .text-dark
    text-align: center

@media (max-width:368px)
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-12
    padding: 0 !important
    margin: 0 !important
