<div class="container line-bottom ">
  <div class="date-with-options">
    <div class="date">

     <label for=""> <small> {{countedDate | date:'mediumDate'}} - {{now | date:'mediumDate'}}</small></label>
    </div>
    <div class="week-month">
      <nav>
        <ul class="list-group list-group-horizontal ">
          <li *ngFor="let mode of weekMonth; let i = index" class="list-group-item"[ngClass]="{ active: tab == i }">
            <a (click)="changeMode(i)">
              {{mode.name}}
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="build-history-select" >
      <label style="margin-top: 2px"> View:</label>
      <select  class="form-control form-control-sm selecter" (change)="changeBuilSelector($event.target.value)">
        <option *ngFor='let build of buildsPublicity' >{{build}}</option>
      </select>
    </div>
  </div>
  <div class="charts">

    <div class="first-chart border">
      <h6> Total builds</h6>
      <h5>{{totalBuilds}}</h5>
      <div>
        <app-chart-small *ngIf="loaded" [results]="buildsData">
        </app-chart-small>
      </div>
    </div>
    <div class="second-chart border">
      <h6 >Total job minutes</h6>
      <h5>{{totalDuration}}</h5>
      <div class="chart">
        <app-chart-small *ngIf="loaded" [results]="durationData">
        </app-chart-small>
      </div>
    </div>
    <div class="third-chart border">
      <h6 >Build Success Rate</h6>
      <h5>{{buildSuccessRate}}%</h5>
      <app-chart-small *ngIf="loaded" [results]="successData">
      </app-chart-small>
    </div>
    <div class="fourth-chart border">
      <h6>Active Projects</h6>
      <h5>{{activeProjects}}</h5>
      <app-chart-small *ngIf="loaded" [results]="projectData">
      </app-chart-small>
    </div>
  </div>
  <div style="text-align: center;">
    <h5>Build Statuses</h5>
      <app-chart-big-normalized *ngIf="loaded" [hidden]="!month" [results]="bigChartData">
      </app-chart-big-normalized>
      <app-chart-big-grouped *ngIf="loaded" [hidden]="month" [results]="bigChartData">
      </app-chart-big-grouped>
    </div>
</div>
