h6
  margin: 7px
  color: #666

h5
  margin: 10px
  color: #666


.date-with-options
  display: grid
  grid-template-columns: 20% 26% auto auto auto 25%
  grid-template-rows: 1

.date
  grid-column-start: 2
  grid-column-end: 2
  grid-row:1
  margin-top: 5px
  justify-self: start

.build-history-select
  grid-column-start: 6
  grid-column-end: 6
  grid-row: 1
  display: inline-flex
  margin-top: 5px

.selecter
  max-width: 100%
  margin-left: 10px

.week-month
  grid-column-start:1
  grid-column-end: 1
  grid-row: 1
  justify-self: flex-start



.list-group-horizontal
  width: 100%
  .list-group-item
    padding: 5px 15px 0 15px
    display: flex
    color: #666
    justify-content: flex-start
    border-style: none
    text-decoration: none
    box-sizing: content-box
    &:hover
      a
        color: #3eaaaf
        background-color: white

        &::after
          content: ""
          color: #3eaaaf
          display: block
          position: absolute
          bottom: -2px
          width: 100%
          height: 2px
          background-color: #3eaaaf

    a
      position: relative
      display: inline-block
      padding-bottom: 5px
      text-decoration: none
      color: #666

.active
  background-color: white !important
  color: #3eaaaf !important
  a::after
    content: ""
    color: #3eaaaf
    display: block
    position: absolute
    bottom: -2px
    width: 100%
    height: 2px
    background-color: #3eaaaf


.charts
  grid-template-columns: repeat(auto-fit, minmax(245px, 1fr))
  text-align: center
  display: grid
  place-items: center
  grid-template-columns: 4
  margin-bottom: 20px


.first-chart
  margin:15px
  width: 95%
  display: grid
  place-items: center
  justify-self: center

.second-chart
  margin:15px
  width: 95%
  display: grid
  place-items: center
  justify-self: center

.third-chart
  margin:15px
  width: 95%
  display: grid
  place-items: center
  justify-self: center

.fourth-chart
  margin:15px
  width: 95%
  display: grid
  place-items: center
  justify-self: center

a
 cursor: pointer

.chart
  justify-self: center


@media screen and (max-width: 1150px)
  .charts
    grid-template-columns: 3
  .fourth-chart
    grid-column-start: 1
    grid-column-end: 1
    grid-row-start: 2


@media screen and (max-width: 416px)
  a
    font-size: 13px
  label
    width: 150%
  .date-with-options
    display: grid
    grid-template-columns: 4
    grid-template-rows: 4
  .date
    grid-column-start: 1
    grid-column-end: 3
    grid-row-start: 2
  .build-history-select
    grid-column-start: 1
    grid-row-start: 3
    display: -webkit-box
    margin-left: 3px
 

