<div *ngIf="
  isLoading;
  then loading;
  else loaded;
"></div>

<ng-template #loading>
    <app-loading-spinner size="20px"></app-loading-spinner>
</ng-template>
<ng-template #loaded>
    <div class="container px-0 mx-auto">
        <div cdkDropList class="project-build-step-list container row" (cdkDropListDropped)="drop($event)">
            <div class="project-build-step row" *ngFor="let buildStep of buildSteps; let i = index" cdkDrag>
                <div class="container row">
                    <div class="col-2 my-auto">
                        Build step #{{i+1}}
                    </div>
                    <div class="col-4 my-auto">
                        {{buildStep.buildStepName}}
                    </div>
                    <div class="col-4 my-auto">
                        Work directory: {{buildStep.workDirectory}}
                    </div>
                    <div class="col-2 my-auto">
                        <button class="btn" (click)="removeBuildStep(buildStep)">
              <i class="fa fa-close"></i>
            </button>
                    </div>
                </div>
                <div class="container row my-1" *ngIf="buildStep.commandArguments?.length">
                    <div class="container row">
                        <h5>Command arguments:</h5>
                    </div>
                    <div class="container row" *ngFor="let arg of buildStep.commandArguments">
                        <div class="col-1">Key:</div>
                        <div class="col-3">{{arg.key}}</div>
                        <div class="col-2">Value:</div>
                        <div class="col-3">{{arg.value}}</div>
                        <div class="col-3"> <button class="btn p-0" (click)="removeExistingCommandArgument(buildStep, arg.id)">
                <i class="fa fa-close"></i>
              </button></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" hidden="true" [hidden]="!isAdding">
            <div class="container row">
                <div class="col-sm-4 col-xs-12 px-0 pr-2 new-step-input">
                    <select required class="form-control" [(ngModel)]="newBuildStep">
            <ng-container *ngFor="let step of emptyBuildSteps">
              <option [ngValue]='step'>{{step.buildStepName}}</option>
            </ng-container>
          </select>
                </div>

                <div class="col-sm-2 col-xs-12 pr-2 px-0 new-step-input">
                  <input id="typeahead-prevent-manual-entry" type="text" class="form-control" placeholder="Plugin version" placement="bottom" ngbTooltip="Specify Docker image version"
                    [(ngModel)]="dockerImageVersion"
                    [ngbTypeahead]="search"
                    [editable]='false' />
                </div>

                <div class="col-sm-4 col-xs-12 px-0 new-step-input"><input class="input h-100 text-input" type="text" required placeholder="Work directory" [(ngModel)]="workDir"></div>
                <div class="col-sm-1 col-xs-6 px-0 new-step-input"><button class="btn operation-btn btn-danger" (click)="cancelBuildStep()">Cancel</button></div>
                <div class="col-sm-1 col-xs-6 px-0 new-step-input"><button class="btn operation-btn btn-success" [disabled]="!newBuildStep || !workDir" (click)="saveBuildStep()">Save</button></div>
            </div>
            <div class="container row mt-2" *ngIf="commandArguments?.length || (newCommandArgumentKey !== null && newCommandArgumentValue !== null)">
                <h4>Command arguments</h4>
            </div>
            <div class="container" *ngIf="commandArguments?.length">
                <div class="row" *ngFor="let arg of commandArguments">
                    <div class="col-1">Key:</div>
                    <div class="col-4">{{arg.key}}</div>
                    <div class="col-2">Value</div>
                    <div class="col-3">{{arg.value}}</div>
                    <div class="col-2"> <button class="btn pt-0 pb-0" (click)="removeNewCommandArgument(arg.key)">
              <i class="fa fa-close"></i>
            </button></div>
                </div>
            </div>
            <div class="container row mt-2" *ngIf="newCommandArgumentValue !== null && newCommandArgumentKey !== null">
                <div class="col-1 px-0 new-step-input">Key</div>
                <div class="col-3 px-0 new-step-input">
                    <input type="text" class="text-input w-100" [(ngModel)]="newCommandArgumentKey" placeholder="--verbosity">
                </div>
                <div class="col-1 offset-1 px-0 new-step-input">Value</div>
                <div class="col-3 px-0 new-step-input">
                    <input type="text" class="text-input w-100" [(ngModel)]="newCommandArgumentValue" placeholder="normal">
                </div>
                <div class="col-1 offset-1 px-0 new-step-input"> <button class="btn pt-0 pb-0" (click)="clearNewCommandArgument()">
            <i class="fa fa-close text-danger h-100"></i>
          </button></div>
                <div class="col-1 px-0 new-step-input"> <button class="btn pt-0 pb-0" [disabled]="!newCommandArgumentValue || !newCommandArgumentKey" (click)="saveCommandArgument()">
            <i class="fas fa-check text-success h-100"></i>
          </button></div>
            </div>
            <div class="container row mt-2">
                <div class="col-md-4 col-12 px-0"><button class="btn btn-info" (click)="addCommandArgument()">Add command
            argument</button>
                </div>
            </div>
        </div>

        <div class="row">
            <button class="btn btn-primary" [hidden]="isAdding" (click)="addBuildStep()">Add a build step</button>
        </div>
    </div>
</ng-template>
