<div class="d-flex bd-highlight" mb-3 id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
      <div class="avatar-container container">
        <div class="avatar-wrapper" (click)="open()">
          <input hidden class="file-hide" #file accept="image/*" type="file" >
          <img class="avatar avatar-style" src="{{currentUser.avatarUrl}}"
               onerror="this.src='../../../../assets/images/Avatar-default.png'">
          <div class="img-text">
            Change
          </div>
        </div>
        <div class="account-details">
          <h1 class ="nickname"> @{{currentUser.username}}</h1>
          <div class="date-since"> Member since {{currentUser.createdAt | date:'mediumDate'}} </div>
        </div>
        <div class="link-buttons">
          <button class="btn btn-link" [disabled]="isProviderAdded(0)" (click)="linkWithGithub()">
            <div class="icon">
              <i class="fa fa-github" aria-hidden="true"></i>
            </div>
            Link with Github
          </button>
          <button class="btn btn-link" [disabled]="isProviderAdded(1)" (click)="linkWithGoogle()">
            <div class="icon">
              <i class="fa fa-google" aria-hidden="true"></i>
            </div>
            Link with Google
          </button>
        </div>
      </div>
    <app-tabs [tabRoutes]="tabRoutes"></app-tabs>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div class="container-fluid" id="page-content-wrapper">
    <router-outlet></router-outlet>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
