.sidebar-heading
  height: 100px
  width: 260px
  text-align: center

.sidebar-heading h2
  margin-top: 15px
  font-size: 45px

#navbar-horisontal
  height: 100px

#page-content-wrapper
  padding: 0
  z-index: 0
  height: 100vh
  width: 100%


.active
  background-color: white !important
  color: #3eaaaf !important
  p::after
      content: ""
      color: #3eaaaf
      display: block
      position: absolute
      bottom: -7px
      width: 100%
      height: 2px
      background-color: #3eaaaf

#wrapper
  min-height: 100vh
  flex-direction: column

#sidebar-wrapper-test
  width: 100%
  margin-bottom: 35px

nav
  margin-bottom: 1rem

.list-group-horizontal
  width: 100%
  border-bottom: 2px solid #f1f1f1
  margin-top: 15px
  .list-group-item
    padding: 5px 15px 0 15px
    display: flex
    color: #666
    justify-content: start
    border-style: none
    text-decoration: none
    box-sizing: content-box
    &:hover
      a
        color: #3eaaaf
        background-color: white

        &::after
          content: ""
          color: #3eaaaf
          display: block
          position: absolute
          bottom: -2px
          width: 100%
          height: 2px
          background-color: #3eaaaf

    a
      position: relative
      display: inline-block
      padding-bottom: 5px
      text-decoration: none
      color: #666

.active
  background-color: white !important
  color: #3eaaaf !important
  a::after
    content: ""
    color: #3eaaaf
    display: block
    position: absolute
    bottom: -2px
    width: 100%
    height: 2px
    background-color: #3eaaaf

// styles for avatar
.avatar-style
  height: 90px
  width: 90px
  opacity: 1
  display: block
  transition: .5s ease
  backface-visibility: hidden
  border-radius: 50%

.avatar-container
  margin-top: 15px
  position: relative
  display: flex
  align-items: start
  justify-content: start
  .account-details
    margin-left: 20px
    h1
      color: #666
      font-family: "Source Sans Pro", Helvetica, sans-serif
      font-weight: 300
      font-size: 40px
    div
      color: #9d9d9d
      font-size: 14px

.avatar-wrapper
  position: relative
  .img-text
    width: 100%
    height: 100%
    border-radius: 50%
    opacity: 0
    top: 0
    left: 0
    color: grey
    position: absolute
    display: flex
    justify-content: center
    align-items: center
  &:hover
    cursor: pointer
    img
      opacity: 0.3
    .img-text
      opacity: 1

@media screen and (max-width: 500px)
  .avatar-style
    height: 60px
    width: 60px
  .account-details
    h1
      font-size: 26px !important
    div
      font-size: 12px !important
  .list-group-item
    font-size: 14px
  .img-text
    font-size: 12px !important
