<div class="d-flex bd-highlight" mb-3 id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"><h2 class="display-4">Settings</h2></div>
    <div class="list-group list-group-flush">
      <a
        routerLink="/portal/dashboard/user"
        class="list-group-item list-group-item-action bg-light"
        >Profile</a
      >
      <a
        [routerLink]="['/']"
        class="list-group-item list-group-item-action bg-light"
        >Project settings</a
      >
      <a
        [routerLink]="['/']"
        class="list-group-item list-group-item-action bg-light"
        >New settings</a
      >
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div class="container" id="page-content-wrapper">
    <router-outlet></router-outlet>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
