<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <button
      (click)="isMenuCollapsed = !isMenuCollapsed"
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['dashboard']"
      ><img class="logo" src="../../../../assets/images/logo.png"
    /></a>
    <div class="d-flex order-lg-1 ml-auto pr-2">
      <div class="nav-item">
        <a class="nav-link">
          <svg
            (click)="showNotifications()"
            viewBox="0 0 16 16"
            class="notifications-icon bi bi-bell-fill"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"
            />
          </svg>
          <app-notifications-block
            *ngIf="isShowNotifications"
            (toggleNotifications)="showNotifications()"
          ></app-notifications-block>
        </a>
      </div>

      <div class="nav-item" ngbDropdown>
        <a
          class="nav-link"
          tabindex="0"
          ngbDropdownToggle
          id="navbarDropdown2"
          role="button"
        >
          <img
            src="{{user.avatarUrl}}"
            onerror="this.src='../../../../assets/images/Avatar-default.png'"
            alt="Avatar"
            class="avatar"
          />
        </a>
        <div
          ngbDropdownMenu
          aria-labelledby="navbarDropdown2"
          class="dropdown-menu dropdown-menu-right"
        >
          <a ngbDropdownItem [routerLink]="'user'">Settings</a>
          <a ngbDropdownItem (click)="broadcast()">Broadcast</a>
          <a ngbDropdownItem (click)="logOut()">Logout</a>
        </div>
      </div>
    </div>
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      [ngbCollapse]="isMenuCollapsed"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['dashboard']">Dashboard</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
