.logo
   height: 40px

.avatar
  vertical-align: middle
  height: 50px
  border-radius: 50%

.nav-link
  padding: 0px

button
  background-color: #f8f9fa
  border: none

:focus
  outline:0 !important

.navbar-nav .nav-link
    color: rgba(0,0,0,.5)


.navbar-nav .nav-link:hover
    color: rgba(0,0,0,.7)
