.avatar
  vertical-align: middle
  width: 40px
  height: 40px
  border-radius: 50%

button
  background-color: #f8f9fa
  border: none

.navbar
  padding: 0px

.navbar-nav
  margin-right: 10%

.navbar-brand
  margin-left: 10%

.nav-link
  margin-left: 10%
  font-size: 18px

.dashboard
  padding-top: 20px

:focus
  outline:0 !important

.logo
  width: 120px
  height: 40px
  display: block

.navbar-nav .nav-link
    color: rgba(0,0,0,.5)


.navbar-nav .nav-link:hover
    color: rgba(0,0,0,.7)
