nav.navbar
  position: sticky
  top: 0
  left: 0

.logo
   height: 40px

.avatar
  vertical-align: middle
  height: 50px
  border-radius: 50%

.nav-link
  padding: 0px

button
  background-color: #f8f9fa
  border: none

:focus
  outline:0 !important

.logo
  height: 45px
  display: block

// Styles for notifications icon and block

.nav-item:first-child
  margin: auto
  margin-right: 10px

  .nav-link svg
    fill: rgba(0, 0, 0, 0.5)
  .nav-link svg:hover
    fill: rgba(255, 211, 55, 0.8)

.nav-link:nth-child(2)
  margin: 0
  padding: 0

.notifications-icon
  width: 1.4em
  height: 1.4em

.navbar-nav .nav-link
    color: rgba(0,0,0,.5)

// hover for menu items under logo

.navbar-nav .nav-link:nth-child(2):hover
    color: rgba(0,0,0,.7)
