form
  padding: 10px
  margin: 0px auto
  display: flex
  flex-direction: column
  align-items: center

.group
    display: grid
    grid-template-columns: 2
    grid-template-rows: 2

.input-area
  grid-column-start: 1
  grid-column-end: 2
  justify-self: start
  margin: 0 10px 20px

datalist
  max-height: 100px
  overflow-x: hidden

ng-select
  height: calc(1.5em + 0.5rem - 3px)
  width: 300px
  border: 1px solid #ced4da
  border-radius: 0.2rem
  outline: none
  ::ng-deep ng-dropdown-panel
    background: white !important
    width: 300px
    border: 1px solid #ced4da
    border-radius: 0.2rem
    .ng-option
      padding: 5px
      border-bottom: 1px solid #ced4da

input
  width: 300px

textarea
  width: 300px

.field
  grid-column-start: 0
  grid-column-end: 1
  justify-self: end

.required-field::after
    content: "*"
    color: red


.small-title
  margin-top: 0
  font-size: 18px
  color: #3eaaaf

.error
  color: crimson
  font-size: 12px

.btn-wp
  text-align: center

.btn
  margin: 10px

@media screen and (max-width: 675px)
  .field
    grid-column-start: 1
    grid-column-end: 2
    justify-self: start
    margin-left: calc((100% - 300px)/2)
  .input-area
    justify-self: center
    margin-left: 0
    margin-right: 0
  .save-button-container
    justify-self: center
  .input-group
    justify-self: center
    margin-left: 0
    margin-right: 0
