form
  padding: 10px
  margin: 0px auto

.group
    display: grid
    grid-template-columns: 2
    grid-template-rows: 2

.input-area
  grid-column-start: 1
  grid-column-end: 2
  justify-self: start
  margin: 0 10px 20px

input
  width: 300px

textarea
  width: 300px

.field
  grid-column-start: 0
  grid-column-end: 1
  justify-self: end

.required-field::after
    content: "*"
    color: red


.small-title
  margin-top: 0
  font-size: 18px
  color: #3eaaaf

.error
  color: crimson
  font-size: 12px

.btn-wp
  text-align: center

.btn
  margin: 10px

