<div class="modal-header">
  <h2 class="small-title">
    Create Project
  </h2>
</div>
<div class="modal-body">
  <form [formGroup]="projectForm" (ngSubmit)="save()" #projectCreatingForm="ngForm">
    <div class="group">
      <div class="field">
        <span class="required-field">Project name</span>
      </div>
      <div class="input-area">
      <input type="text" class="form-control form-control-sm" [(ngModel)]="newProject.name" formControlName="name"
        required autocomplete="off" placeholder="My first project" maxlength="32"/>
      <div *ngIf="projectForm.controls['name'].errors">
        <div class="error"
          [hidden]="projectForm.controls['name'].valid && projectForm.controls['name'].untouched || !projectForm.controls['name'].errors?.required">
          Name is required
        </div>
        <div class="error" *ngIf="projectForm.controls['name'].errors.minlength">
          The minimum length is 4 characters
        </div>
        </div>
      </div>
      <div class="field">
        <span>Description</span>
      </div>
      <div class="input-area">
      <textarea type="text" rows="3" class="form-control form-control-sm" formControlName="description"
        autocomplete="off" placeholder="Some description for project">
        </textarea>
      </div>
      <div class="field">
        <span>Public repository</span>
      </div>
      <div class="input-area">
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="isPublicSwitch" [(ngModel)]="newProject.isPublic"
          (change)="onToggle(newProject.isPublic)" formControlName="isPublic" />
          <label class="custom-control-label" for="isPublicSwitch"></label>
        </div>
      </div>

      <div class="field">
        <span class="required-field">Repository</span>
      </div>
      <div class="input-area">
      <input id="typeahead-focus" type="text" class="form-control" [(ngModel)]="newProject.repository"
        [ngbTypeahead]="search" (focus)="repositoryInputFocus$.next($any($event).target.value)"
        (click)="repositoryInputClick$.next($any($event).target.value)" #repository="ngbTypeahead"
        formControlName="repositoryInput" required />
      <div *ngIf="projectForm.controls['repositoryInput'].errors">
        <div class="error"
          [hidden]="projectForm.controls['repositoryInput'].valid && projectForm.controls['repositoryInput'].untouched || !projectForm.controls['repositoryInput'].errors?.required">
          Repository is required
        </div>
      </div>
    </div>
  </div>

    <div class="btn-wp">
      <button type="submit" class="btn btn-success" [disabled]="projectCreatingForm.invalid">
        Create
      </button>
      <button type="button" class="btn btn-danger" (click)="cancel()">
        Cancel
      </button>
    </div>
  </form>
</div>
