form
  padding: 10px
  margin: 0px auto

.group
    display: grid
    grid-template-columns: 2
    grid-template-rows: 2

.input-area
  grid-column-start: 1
  grid-column-end: 2
  justify-self: start
  margin: 0 10px 20px

select
  height: calc(1.5em + 0.5rem - 3px)
  width: 300px
  border: 1px solid #ced4da
  border-radius: 0.2rem
  outline: none

input
  width: 300px
input[type=checkbox]
  width: 30px
textarea
  width: 300px

.field
  grid-column-start: 0
  grid-column-end: 1
  justify-self: end

.small-title
  margin-top: 0
  font-size: 18px
  color: #3eaaaf

.error
  color: crimson
  font-size: 12px

.btn-wp
  text-align: center

.btn
  margin: 10px

